

<ng-container [@sheetState]="isOpen ? 'open' : 'closed'">
    <mat-card class="p-0 m-0">
      <div class="add-users mat-dialog-header">
        <div class="row">
            <div class="col"><h1 mat-dialog-title>Add Follow  Up For {{data.name}}</h1></div>
            <div class="col-1 close-icon">
              <mat-icon (click)="closePopup()">close</mat-icon>
          </div>
        </div>
      </div>
        <mat-dialog-content class="mat-typography">
         <div class="container">
          <form [formGroup]="editLead">
           
            <mat-form-field class="mb-1" appearance="outline">
                <mat-label>Select Lead Category</mat-label>
                <mat-select formControlName="leadCategory" >
                  <mat-option *ngFor="let leadList of leadCategory" [value]="leadList">{{ leadList }}</mat-option>
                </mat-select>
                <button
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                  (click)="clearSelectField('leadCategory')"
                  *ngIf="editLead.get('leadCategory')?.value?.length > 0"
                >
                  <mat-icon>clear</mat-icon>
                </button>
                <mat-error *ngIf="f['leadCategory'].hasError('required')">
                 Lead Category Is Required.
                </mat-error>
              </mat-form-field>

              <mat-form-field class="mb-1" appearance="outline">
                <mat-label>Select Status</mat-label>
                <mat-select formControlName="status" >
                  <mat-option *ngFor="let statuslist of status" [value]="statuslist">{{ statuslist }}</mat-option>
                </mat-select>
                <button
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                  (click)="clearSelectField('status')"
                  *ngIf="editLead.get('status')?.value?.length > 0"
                >
                  <mat-icon>clear</mat-icon>
                </button>
                <mat-error *ngIf="f['status'].hasError('required')">
                 Status Is Required.
                </mat-error>
              </mat-form-field>
             
              <mat-form-field class="mb-1" appearance="outline">
                <mat-label>Select Sub Status</mat-label>
                <mat-select formControlName="subStatus" >
                  <mat-option *ngFor="let subStatuslist of subStatus" [value]="subStatuslist">{{ subStatuslist }}</mat-option>
                </mat-select>
                <button
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                  (click)="clearSelectField('subStatus')"
                  *ngIf="editLead.get('subStatus')?.value?.length > 0"
                >
                  <mat-icon>clear</mat-icon>
                </button>
                <mat-error *ngIf="f['subStatus'].hasError('required')">
                Sub Status Is Required.
                </mat-error>
              </mat-form-field>

              <mat-form-field class="mb-1" appearance="outline">
                <mat-label>Select Follow Up Type</mat-label>
                <mat-select formControlName="followupType" >
                  <mat-option *ngFor="let followuplist of followupType" [value]="followuplist">{{ followuplist }}</mat-option>
                </mat-select>
                <button
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                  (click)="clearSelectField('followupType')"
                  *ngIf="editLead.get('followupType')?.value?.length > 0"
                >
                  <mat-icon>clear</mat-icon>
                </button>
                <mat-error *ngIf="f['followupType'].hasError('required')">
                Follow Up Type Is Required.
                </mat-error>
              </mat-form-field>

              
              <mat-form-field appearance="outline" class="mb-1">
                <mat-label>Next Action Date</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY" formControlName="nextActionDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="f['nextActionDate'].hasError('required')">
                    Next Action Date Is Required.
                </mat-error>
              </mat-form-field>
             
             <div class="my-2">
                <mat-label  [ngClass]="f['nextActionTime'].touched && f['nextActionTime'].hasError('required') ? 'time-label-error':'time-label'">Next Action Time *</mat-label>
                <ngb-timepicker formControlName="nextActionTime" [meridian]="meridian"></ngb-timepicker>
                <mat-error *ngIf="f['nextActionTime'].touched && f['nextActionTime'].hasError('required')">
                    Next Action Time Is Required.
                </mat-error>
             </div>
             <mat-form-field appearance="outline" class="mb-1">
                <mat-label>Follow Up Comment</mat-label>
                <textarea matInput placeholder="Enter Your Follow Up Comment" formControlName="followupComment"></textarea>
                <mat-error *ngIf="f['followupComment'].hasError('required')">
                    Follow Up Comment Is Required.
                </mat-error>
              </mat-form-field>
          </form>
        </div>
      
        </mat-dialog-content>
     
      <mat-dialog-actions class="d-flex">
        <button class="mat-cancel m-1" mat-button mat-dialog-close (click)="closePopup()">CANCEL</button>
        <button class="mat-disable m-1" mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="onSubmit()">UPDATE FOLLOWUP</button>
      </mat-dialog-actions>
    </mat-card>
     
  </ng-container>
  
  
