

<ng-container >
    <mat-card class="p-0 m-0">
      <div class="add-users mat-dialog-header">
        <div class="row">
            <div class="col"><h1 mat-dialog-title>Follow  Up To {{data?.name | titlecase }}</h1></div>
            <div class="col-1 close-icon">
              <mat-icon (click)="closePopup()">close</mat-icon>
          </div>
        </div>
      </div>
        <mat-dialog-content class="mat-typography">
         <div class="container">
          <form [formGroup]="followupForm">
           
            <mat-form-field class="mb-1" appearance="outline">
                <mat-label>Select Lead Category</mat-label>
                <mat-select formControlName="leadCategory" >
                  <mat-option *ngFor="let leadList of leadCategory" [value]="leadList.id">{{  leadList.channel_name }}</mat-option>
                </mat-select>
                <button
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                  (click)="clearSelectField('leadCategory')"
                  *ngIf="followupForm.get('leadCategory')?.value?.length > 0"
                >
                  <mat-icon>clear</mat-icon>
                </button>
                <mat-error *ngIf="f['leadCategory'].hasError('required')">
                 Lead Category Is Required.
                </mat-error>
              </mat-form-field>

              <mat-form-field class="mb-1" appearance="outline">
                <mat-label>Select Status</mat-label>
                <mat-select formControlName="status" >
                  <mat-option *ngFor="let statuslist of status" [value]="statuslist.id">{{ statuslist.name }}</mat-option>
                </mat-select>
                <button
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                  (click)="clearSelectField('status')"
                  *ngIf="followupForm.get('status')?.value?.length > 0"
                >
                  <mat-icon>clear</mat-icon>
                </button>
                <mat-error *ngIf="f['status'].hasError('required')">
                 Status Is Required.
                </mat-error>
              </mat-form-field>
             
              <mat-form-field class="mb-1" appearance="outline">
                <mat-label>Select Sub Status</mat-label>
                <mat-select formControlName="subStatus" >
                  <mat-option *ngFor="let subStatuslist of subStatus" [value]="subStatuslist.id">{{ subStatuslist.name }}</mat-option>
                </mat-select>
                <button
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                  (click)="clearSelectField('subStatus')"
                  *ngIf="followupForm.get('subStatus')?.value?.length > 0"
                >
                  <mat-icon>clear</mat-icon>
                </button>
                <mat-error *ngIf="f['subStatus'].hasError('required')">
                Sub Status Is Required.
                </mat-error>
              </mat-form-field>

              <mat-form-field class="mb-1" appearance="outline">
                <mat-label>Select Follow Up Type</mat-label>
                <mat-select formControlName="followupType" >
                  <mat-option *ngFor="let followuplist of followupType" [value]="followuplist.id">{{ followuplist.source_name }}</mat-option>
                </mat-select>
                <button
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                  (click)="clearSelectField('followupType')"
                  *ngIf="followupForm.get('followupType')?.value?.length > 0"
                >
                  <mat-icon>clear</mat-icon>
                </button>
                <mat-error *ngIf="f['followupType'].hasError('required')">
                Follow Up Type Is Required.
                </mat-error>
              </mat-form-field>
              <mat-form-field class="mb-1" appearance="outline">
                <mat-label>Select Template</mat-label>
                <mat-select formControlName="template" >
                  <mat-option *ngFor="let temp of templateList" [value]="temp.id" (click)="onChanges(temp,f['template'].value)">{{ temp.name }}</mat-option>
                </mat-select>
                <button
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                  (click)="clearSelectField('template')"
                  *ngIf="followupForm.get('template')?.value?.length > 0"
                >
                  <mat-icon>clear</mat-icon>
                </button>
                <mat-error *ngIf="f['template'].hasError('required')">
                  Template Is Required.
                </mat-error>
              </mat-form-field>
              
          
              <!-- <mat-form-field appearance="outline" class="mb-1">
                <mat-label>Follow Up Comment</mat-label>
                <textarea
                  matInput
                  appFormSpace
                  placeholder="Enter Your Follow Up Comment"
                  formControlName="followupComment"
                  style="display: none;"
                ></textarea>
                <mat-error *ngIf="f['followupComment'].hasError('required')">
                  Follow Up Comment Is Required.
                </mat-error>
              </mat-form-field> -->

              <!-- <mat-label>Final Template</mat-label>
              <div >{{f['followupComment'].value}}</div> -->
              
              <div class="mat-input-container">
                <label for="followupComment">Follow Up Comment</label>
                <div
                matInput
                  appFormSpace
                  contenteditable="true"
                  (input)="onInput($event)"
                  readonlyTextarea
                  formControlName="followupComment"
                  [innerHtml]="f['followupComment'].value"
                ></div>
               
              </div>

             
              
              
              <mat-form-field appearance="outline" class="mb-1">
                <mat-label>Next Action Date</mat-label>
                <input matInput appFormSpace [matDatepicker]="picker" placeholder="MM/DD/YYYY" formControlName="nextActionDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="f['nextActionDate'].hasError('required')">
                    Next Action Date Is Required.
                </mat-error>
              </mat-form-field>
             
             
          </form>
        </div>
      
        </mat-dialog-content>
     
      <mat-dialog-actions class="d-flex">
        <button class="mat-cancel m-1" mat-button mat-dialog-close (click)="closePopup()">CANCEL</button>
        <button class="mat-disable m-1" mat-button  cdkFocusInitial (click)="onSubmit()">UPDATE FOLLOWUP</button>
      </mat-dialog-actions>
    </mat-card>
     
  </ng-container>
  
  
