<ng-container >
    <mat-card class="p-0 m-0">
      <div class="add-users mat-dialog-header">
        <div class="row">
            <div class="col"><h1 mat-dialog-title>Add New Lead</h1></div>
            <div class="col-1 close-icon">
              <mat-icon (click)="closePopup()">close</mat-icon>
          </div>
        </div>
      </div>
        <mat-dialog-content class="mat-typography mx-2">
         <div class="container">
        
          <mat-accordion class="example-headers-align">
            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" >
              <mat-expansion-panel-header>
                <mat-panel-title>
                 Basic Information
                </mat-panel-title>
              
              </mat-expansion-panel-header>
          
              <ng-container>
                <div class="container">
                    <form [formGroup]="basicLeadDeatails">
                    <mat-form-field appearance="outline" class="mb-1" >
                        <mat-label>Student Name</mat-label>
                        <input
                          matInput
                          appFormSpace
                          type="text"
                          placeholder="Enter Your Student Name"
                          formControlName="firstName"
                          required
                        />
                        <mat-error *ngIf="f['firstName'].hasError('required')">
                        Student Name Is Required.
                        </mat-error>
                        <mat-error *ngIf="f['firstName'].hasError('pattern')">
                         Invalid Name Format.Please Enter Characters.
                        </mat-error>
                      </mat-form-field>
                    
                      <mat-form-field appearance="outline" class="mb-1">
                        <mat-label>Mobile Number</mat-label>
                        <input
                          matInput
                          type="tel"
                          placeholder="Enter Your Mobile Number"
                          formControlName="mobile"
                          required
                        />
                        <mat-error *ngIf="f['mobile'].hasError('required')">Mobile Number Is Required.</mat-error>
                        <mat-error *ngIf="f['mobile'].hasError('pattern')">Please Enter A 10-Digit.</mat-error>
                      </mat-form-field>
                      <mat-form-field class="mb-1" appearance="outline">
                        <mat-label>Alternate Phone Number</mat-label>
                        <input matInput appFormSpace formControlName="alternateNumber" placeholder="Enter A 10-Digit Alternate Phone Number.">
                        <mat-error *ngIf="f['alternateNumber'].hasError('pattern')">Please Enter A 10-Digit Alternate Phone Number.</mat-error>
                        <mat-error *ngIf="f['alternateNumber'].hasError('required')">Alternate Phone Number Is Required.</mat-error>
                      </mat-form-field> 
                      <mat-form-field appearance="outline" class="mb-1" >
                        <mat-label>Email Id</mat-label>
                        <input
                          matInput
                          type="email"
                          placeholder="Enter Your Email Id"
                          formControlName="email"
                          
                        />
                        <mat-error *ngIf="f['email'].hasError('required')">Email Id Is Required.</mat-error>
                        <mat-error *ngIf="f['email'].hasError('email')">Invalid Email Format.</mat-error>
                      </mat-form-field>
                      <mat-form-field class="mb-1" appearance="outline">
                        <mat-label>Date Of Birth</mat-label>
                        <input formControlName="dateOfBirth" matInput [matDatepicker]="dateOfBirth" placeholder="MM/DD/YYYY">
                        <mat-datepicker-toggle matSuffix [for]="dateOfBirth"></mat-datepicker-toggle>
                        <mat-datepicker #dateOfBirth></mat-datepicker>
                      </mat-form-field>
                      <mat-form-field class="mb-1" appearance="outline">
                        <mat-label>State</mat-label>
                        <mat-select formControlName="state" placeholder="Select State">
                          <mat-option *ngFor="let option of stateOptions" [value]="option.id">{{ option.name }}</mat-option>
                        </mat-select>
                        <button
                          matSuffix
                          mat-icon-button
                          aria-label="Clear"
                          (click)="clearSelectField('state')"
                          *ngIf="f['state']?.value"
                        >
                          <mat-icon>clear</mat-icon>
                        </button>
                      </mat-form-field>
                      <mat-form-field class="mb-1" appearance="outline">
                        <mat-label>Zone</mat-label>
                        <mat-select formControlName="zone" placeholder="Select The Zone">
                          <mat-option *ngFor="let option of zone" [value]="option">{{ option}}</mat-option>
                        </mat-select>
                        <button
                          matSuffix
                          mat-icon-button
                          aria-label="Clear"
                          (click)="clearSelectField('zone')"
                          *ngIf="f['zone']?.value"
                        >
                          <mat-icon>clear</mat-icon>
                        </button>
                      </mat-form-field>
                      <mat-form-field class="mb-1" appearance="outline">
                        <mat-label>City Name</mat-label>
                        <mat-select formControlName="cityName" placeholder="Select City">
                          <mat-option *ngFor="let option of cityOptions" [value]="option.id">{{ option.name}}</mat-option>
                        </mat-select>
                        <button
                          matSuffix
                          mat-icon-button
                          aria-label="Clear"
                          (click)="clearSelectField('cityName')"
                          *ngIf="f['cityName']?.value"
                        >
                          <mat-icon>clear</mat-icon>
                        </button>
                      </mat-form-field>
                      <mat-form-field class="mb-1" appearance="outline">
                        <mat-label>Pincode</mat-label>
                        <input type="number" max="6" formControlName="pincode" matInput  placeholder="Enter The Pin Code">
                      </mat-form-field>
                      <mat-form-field class="mb-1" appearance="outline">
                        <mat-label>Select Country </mat-label>
                        <mat-select formControlName="countryId" placeholder="Select Country">
                          <mat-option *ngFor="let option of countryOptions" [value]="option.id">{{ option.name }}</mat-option>
                        </mat-select>
                        <button
                          matSuffix
                          mat-icon-button
                          aria-label="Clear"
                          (click)="clearSelectField('countryId')"
                          *ngIf="f['countryId']?.value"
                        >
                          <mat-icon>clear</mat-icon>
                        </button>
                      </mat-form-field>

                    </form>
                    
                </div>
                
               </ng-container>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Additional Information
                  </mat-panel-title>
                
                </mat-expansion-panel-header>
            
                <ng-container>
                    <div class="container">
                        <form [formGroup]="additionalInformation">
                        <mat-form-field class="mb-1" appearance="outline">
                        <mat-label>Reference Name </mat-label>
                        <input
                        matInput
                        appFormSpace
                        type="text"
                        placeholder="Enter Your Reference Name"
                        formControlName="referenceName"
                      />
                      </mat-form-field>
                      <mat-form-field class="mb-1" appearance="outline">
                      <mat-label>Reference Phone Number</mat-label>
                      <input
                      matInput
                      appFormSpace
                      type="text"
                      placeholder="Enter Your Reference Phone Number"
                      formControlName="referencePhoneNumber"
                      />
                    </mat-form-field>
                    <mat-form-field class="mb-1" appearance="outline">
                    <mat-label>Reference Phone Number</mat-label>
                    <input
                    matInput
                    appFormSpace
                    type="text"
                    placeholder="Enter Your Reference Phone Number"
                    formControlName="referencePhoneNumber"
                    />
                      </mat-form-field>
                      <mat-form-field class="mb-1" appearance="outline">
                        <mat-label>Father Name</mat-label>
                        <input
                        matInput
                        appFormSpace
                        type="text"
                        placeholder="Enter Father Name"
                        formControlName="fatherName"
                        />
                      </mat-form-field>
                      <mat-form-field class="mb-1" appearance="outline">
                        <mat-label>Father Occupation</mat-label>
                        <input
                        matInput
                        appFormSpace
                        type="text"
                        placeholder="Enter Father Occupation"
                        formControlName="fatherOccupation"
                        />
                      </mat-form-field>
                      <mat-form-field class="mb-1" appearance="outline">
                        <mat-label>Father Phone Number</mat-label>
                        <input
                        matInput
                        appFormSpace
                        type="tel"
                        placeholder="Enter Father Phone Number"
                        formControlName="fatherPhoneNumber"
                        />
                      </mat-form-field>
                    </form>
                    </div>
                </ng-container>
            </mat-expansion-panel>
         
            <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Student Education details
                </mat-panel-title>
              
              </mat-expansion-panel-header>
          
              <ng-container>
                  <div class="container">
                      <form [formGroup]="studentEducation">
                      <mat-form-field class="mb-1" appearance="outline">
                      <mat-label>Tenth Percentage</mat-label>
                      <input
                      matInput
                      appFormSpace
                      type="text"
                      placeholder="Enter Your Tenth Percentage"
                      formControlName="tenthPercentage"
                    />
                    </mat-form-field>
                    
                    <mat-form-field class="mb-1" appearance="outline">
                    <mat-label>Twelfth Percentage</mat-label>
                    <input
                    matInput
                    appFormSpace
                    type="text"
                    placeholder="Enter Your Twelfth Percentage"
                    formControlName="twelthPercentage"
                    />
                  </mat-form-field>
                  
                  <mat-form-field class="mb-1" appearance="outline">
                    <mat-label>Degree Percentage</mat-label>
                    <input
                    matInput
                    appFormSpace
                    type="text"
                    placeholder="Enter Your Degree Percentage"
                    formControlName="degree"
                    />
                  </mat-form-field>

                  </form>
                  </div>
              </ng-container>
          </mat-expansion-panel>
         
          <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" >
            <mat-expansion-panel-header>
              <mat-panel-title>
                Student Studying Stream
              </mat-panel-title>
            
            </mat-expansion-panel-header>
        
            <ng-container>
                <div class="container">
                    <form [formGroup]="studentStudyDetails">
                      <mat-form-field class="mb-1" appearance="outline">
                        <mat-label>Course</mat-label>
                        <mat-select formControlName="course" placeholder="Select Course" >
                          <mat-option *ngFor="let option of courseOptions" [value]="option.id">{{ option.course_name }}</mat-option>
                        </mat-select>
                        <button
                          matSuffix
                          mat-icon-button
                          aria-label="Clear"
                          (click)="clearSelectField3('course')"
                          *ngIf="ssd['course']?.value"
                        >
                          <mat-icon>clear</mat-icon>
                        </button>
                      </mat-form-field>
                  <!-- Additional input for 'Other' -->
                 
                  <mat-form-field class="mb-1" appearance="outline" *ngIf="studentStudyDetails.value.course == 19">
                    <mat-label>Other Course</mat-label>
                    <input type="text" matInput appFormSpace formControlName="otherCourse" placeholder="Enter The Other Course" />
                  </mat-form-field>
                    <mat-form-field class="mb-1" appearance="outline">
                    <mat-label>Entrance Exam</mat-label>
                    <input
                    matInput
                    appFormSpace
                    type="text"
                    placeholder="Enter Your Entrance Exam"
                    formControlName="entranceExam"
                  />
                  </mat-form-field>
                  
                  <mat-form-field class="mb-1" appearance="outline">
                  <mat-label>Course Looking For</mat-label>
                  <input
                  matInput
                  appFormSpace
                  type="text"
                  placeholder="Enter Course Looking For"
                  formControlName="courseLookingfor"
                  />
                </mat-form-field>
                
                <mat-form-field class="mb-1" appearance="outline">
                  <mat-label>Preferred College 1</mat-label>
                  <input
                  matInput
                  appFormSpace
                  type="text"
                  placeholder="Enter Your Preferred College 1"
                  formControlName="preferredCollege1"
                  />
                </mat-form-field>

                <mat-form-field class="mb-1" appearance="outline">
                  <mat-label>Preferred College 2</mat-label>
                  <input
                  matInput
                  appFormSpace
                  type="text"
                  placeholder="Enter Your Preferred College 2"
                  formControlName="preferredCollege2"
                  />
                </mat-form-field>

                <mat-form-field class="mb-1" appearance="outline">
                  <mat-label>Preferred Location 1</mat-label>
                  <input
                  matInput
                  appFormSpace
                  type="text"
                  placeholder="Enter Your Preferred Location 1"
                  formControlName="preferredLocation1"
                  />
                </mat-form-field>

                <mat-form-field class="mb-1" appearance="outline">
                  <mat-label>Preferred Location 2</mat-label>
                  <input
                  matInput
                  appFormSpace
                  type="text"
                  placeholder="Enter Your Preferred Location 2"
                  formControlName="preferredLocation2"
                  />
                </mat-form-field>
                </form>
                </div>
            </ng-container>
          </mat-expansion-panel>
          <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" >
            <mat-expansion-panel-header>
              <mat-panel-title>
                Lead Details
              </mat-panel-title>
            
            </mat-expansion-panel-header>
        
            <ng-container>
                <div class="container">
                    <form [formGroup]="studentDetails">
                      <mat-form-field class="mb-1" appearance="outline">
                        <mat-label>Lead Owner</mat-label>
                        <mat-select formControlName="counsellor" placeholder="Select The Lead Owner">
                          <mat-option *ngFor="let option of referredTo" [value]="option?.id">{{ option?.first_name }}</mat-option>
                        </mat-select>
                        <button
                          matSuffix
                          mat-icon-button
                          aria-label="Clear"
                          (click)="clearSelectField4('counsellor')"
                          *ngIf="sd['counsellor']?.value"
                        >
                          <mat-icon>clear</mat-icon>
                        </button>
                      </mat-form-field>
                      <mat-form-field class="mb-1" appearance="outline">
                        <mat-label>Counselled By</mat-label>
                        <mat-select formControlName="counsellorAdmin" placeholder="Select The Counselled By">
                          <mat-option *ngFor="let option of adminList" [value]="option?.id">{{ option?.first_name }}</mat-option>
                        </mat-select>
                        <button
                          matSuffix
                          mat-icon-button
                          aria-label="Clear"
                          (click)="clearSelectField4('counsellorAdmin')"
                          *ngIf="sd['counsellorAdmin']?.value"
                        >
                          <mat-icon>clear</mat-icon>
                        </button>
                      </mat-form-field>
                    
                      <mat-form-field class="mb-1" appearance="outline">
                        <mat-label>Source</mat-label>
                        <mat-select formControlName="leadSource"  placeholder="Source">
                          <mat-option *ngFor="let source of leadSources" [value]="source.id">{{ source.source_name
                         }}</mat-option>
                        </mat-select>
                        <button
                        matSuffix
                        mat-icon-button
                        aria-label="Clear"
                        (click)="clearSelectField4('leadSource')"
                        *ngIf="sd['leadSource']?.value"
                      >
                        <mat-icon>clear</mat-icon>
                      </button>
                      </mat-form-field>

                      <mat-form-field class="mb-1" appearance="outline">
                        <mat-label>Lead Stage</mat-label>
                        <mat-select formControlName="leadStages"  placeholder="Select The Lead Stage">
                          <mat-option *ngFor="let stage of leadStage" [value]="stage">{{ stage}}</mat-option>
                        </mat-select>
                        <button
                        matSuffix
                        mat-icon-button
                        aria-label="Clear"
                        (click)="clearSelectField4('leadStages')"
                        *ngIf="sd['leadStages']?.value"
                      >
                        <mat-icon>clear</mat-icon>
                      </button>
                      </mat-form-field>

                      <mat-form-field class="mb-1" appearance="outline">
                        <mat-label>Status</mat-label>
                        <mat-select formControlName="leadStatus" placeholder="Select The Status">
                          <mat-option *ngFor="let status of leadStatus" [value]="status.id">{{ status.name}}</mat-option>
                        </mat-select>
                        <button
                          matSuffix
                          mat-icon-button
                          aria-label="Clear"
                          (click)="clearSelectField4('leadStatus')"
                          *ngIf="sd['leadStatus']?.value"
                        >
                          <mat-icon>clear</mat-icon>
                        </button>
                       
                      </mat-form-field>
                      <mat-form-field appearance="outline" class="mb-1" >
                        <mat-label>Notes</mat-label>
                        <input
                          matInput
                          appFormSpace
                          type="text"
                          placeholder="Enter Your Notes"
                          formControlName="notes"
                        />
                      </mat-form-field>
                      <mat-form-field appearance="outline" class="mb-1" >
                        <mat-label>Remarks</mat-label>
                        <input
                          matInput
                          appFormSpace
                          type="text"
                          placeholder="Enter Your Remarks"
                          formControlName="remarks"
                        />
                      </mat-form-field>
                  </form>
                </div>
            </ng-container>
          </mat-expansion-panel>
          </mat-accordion>
          
         </div>
        </mat-dialog-content>
        <mat-dialog-actions class="d-flex">
          <button class="mat-cancel m-1" mat-button mat-dialog-close>CANCEL</button>
          <button class="mat-disable m-1" mat-button mat-dialog-close cdkFocusInitial (click)="onSubmit()">ADD</button>
        </mat-dialog-actions>
    </mat-card>
</ng-container>

