<div class="row" >
  <div class="col-8" >
    <!-- <app-my-followup-tool-bar></app-my-followup-tool-bar> -->
    <mat-card class="" >
      <div class="row">
        <div class="col d-flex">
          <p
            style="margin-right: 10px; color: blue"
            (click)="getFilter('All')"
            [class.active_tab]="selectedTab === 'All'"
          >
            All 
            <!-- <span>({{ countDataValue?.All }})</span> -->
            
          </p>
          <p
            style="margin-right: 10px; color: orange"
            (click)="getFilter('Upcoming')"
            [class.active_tab]="selectedTab === 'Upcoming'"
          >
            Upcoming
             <!-- <span>
              ({{ countDataValue?.Upcoming }})
            </span> -->
            
          </p>
          <p
            style="margin-right: 10px; color: green"
            (click)="getFilter('Done')"
            [class.active_tab]="selectedTab === 'Done'"
          >
            Done  
             <!-- <span>
              ({{ countDataValue?.Done }})
            </span>  -->
            
          </p>
          <p
            style="margin-right: 10px; color: red"
            (click)="getFilter('Missed')"
            [class.active_tab]="selectedTab === 'Missed'"
          >
            Missed 
            <!-- <span>
              ({{ countDataValue?.Missed }})
            </span> -->
            
          </p>
        </div>

        <!-- <div class="col d-flex ">
            <p style="margin-right: 10px;color: blue;" (click)="selectTab('All')"  [class.active_tab]="selectedTab==='All'">All <span>({{(countData?.All)}})</span> </p>
            <p style="margin-right: 10px;color: rgb(208, 203, 62);" (click)="selectTab('Upcoming')" [class.active_tab]="selectedTab==='Upcoming'"> Upcoming ({{(countData?.Upcoming)}})</p>
            <p style="margin-right: 10px;color: green;" (click)="selectTab('Done')" [class.active_tab]="selectedTab==='Done'"> Done  ({{(countData?.Done)}})</p>
            <p style="margin-right: 10px;color: red;" (click)="selectTab('Missed')" [class.active_tab]="selectedTab==='Missed'"> Missed ({{(countData?.Missed)}}) </p>

        </div> -->
      </div>
      <div class="row">
        <div class="col-sm-0 col-md-0 col-lg-6">
          <app-my-followup-sort
            *ngIf="renderingData?.length > 0"
            (selectedSort)="getSort($event)"
          ></app-my-followup-sort>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="row">
            <div
              class="col p-0"
              (click)=" openVideoCall('All')"
              title="Send Video Conferencing Invite"
            >
              <!-- <i class="bi bi-camera-video"></i> -->
              <img
                src="./assets/images/videocall.png"
                alt=""
                height="17"
                width="17"
              />
            </div>
            <!-- <div class="col p-0 position-rel" (click)="referFollowups()" title="Refer Followup">
              <i class="bi bi-person-check"></i>
            </div> -->
            <div
              class="col p-0"
              (click)="openWhatsAppChat()"
              title="WhatsApp Chat"
            >
              <!-- <i class="bi bi-whatsapp"></i> -->
              <!-- <mat-icon>watsapp</mat-icon> -->
              <img
                src="./assets/images/WhatsApp_icon.png"
                alt=""
                height="21"
                width="21"
              />
            </div>
            <div class="col p-0" (click)="openSMS('All')" title="Send SMS">
              <!-- <i class="bi bi-chat-left-dots"></i> -->
              <!-- <i class="bi bi-chat-dots"></i>
               -->
              <img
                src="./assets/images/chat.png"
                alt=""
                height="15"
                width="18"
              />
              <!-- <mat-icon>sms</mat-icon> -->
            </div>
            <div
              class="col p-0"
              (click)="openEmailChat('All')"
              title="Send Email"
            >
              <!-- <i class="bi bi-envelope"></i> -->
              <img
                src="./assets/images/email-icon.png"
                alt=""
                height="12"
                width="16"
              />
              <!-- <mat-icon>mail</mat-icon> -->
            </div>
            <div
              class="col p-0"
              (click)="refreshFollowUps()"
              title="Page Refresh"
            >

              <!-- <mat-icon>autorenew</mat-icon> -->
              <!-- <i class="bi bi-repeat"></i> -->
              <img
                src="./assets/images/refresh.svg"
                alt=""
                height="18"
                width="18"
              />
            </div>
            <div class="col p-0" (click)="downloadLead()" title="Download">
              <a
                *ngIf="selectedCheckboxIds.length > 0"
                [href]="exportReference"
                target="_blank"
                (click)="downloadLead()"
              >
                <!-- <mat-icon >save_alt</mat-icon> -->
                <!-- <i class="bi bi-download"></i> -->
                <img
                  src="./assets/images/download-icon.png"
                  alt=""
                  height="18"
                  width="18"
                />
              </a>
              <a
                *ngIf="selectedCheckboxIds.length === 0"
                target="_blank"
                (click)="downloadLead()"
              >
                <!-- <mat-icon >save_alt</mat-icon> -->
                <!-- <i class="bi bi-download"></i> -->
                <img
                  src="./assets/images/download-icon.png"
                  alt=""
                  height="18"
                  width="18"
                />
              </a>
            </div>

            <div
              class="col p-0"
              (click)="onClickLink()"
              title="Send Payment Link"
            >
              <!-- <mat-icon>link</mat-icon> -->
              <img
                src="./assets/images/link-icon.png"
                alt=""
                width="19"
                height="19"
              />
            </div>

            <div
              class="col p-0 d-flex"
              (click)="filterFollowups()"
              title="Filter"
            >
              <i
                class="bi bi-funnel"
                style="
                  color: palevioletred !important;
                  height: 20% !important;
                  width: 20%;
                  font-size: 18px !important;
                "
                *ngIf="!filtered"
              ></i>
              <!-- <img src="./assets/images/filter.png" alt="" width="19" height="19" *ngIf="!filtered">
              <img src="./assets/images/filter.png" alt="" width="19" height="19" matBadge="{{ filterCount }}" *ngIf="filtered"> -->
              <i
                style="color: palevioletred !important"
                class="bi bi-funnel-fill"
                *ngIf="filtered"
              
              ></i>
              <!-- <mat-icon
                *ngIf="filtered"
                style="color: palevioletred"
                matBadgeColor="pink"
                (click)="refreshFollowUps()"
                style="margin-right: 10px; margin-top: -25px"
                >close</mat-icon
              > -->

              <!-- <mat-icon *ngIf="filtered" matBadge="15" matBadgeColor="warn">filter</mat-icon> -->
              <!-- <div matBadge="{renderingData.totalNumberOfRecords}" matBadgeOverlap="false" class="demo-section" *ngIf="filtered">{{ renderingData.totalNumberOfRecords }}</div> -->
              <!-- <span class="alightColor badge student-badge">{{ renderingData.totalNumberOfRecords }}</span> -->
            </div>
          </div>
        </div>
      </div>

      <div class="row my-1">
        <div class="col" style="margin-left: -10px;" >
          <mat-checkbox 
            class=""
            
            (change)="selectAll($event, renderingData)"
            class="ms-4"
            [checked]="checkAll"
            ><div style="font-size: 12px" class="ps-3">
              SELECT ALL 
              <span >({{totalNumberOfRecords}})</span> 
            </div></mat-checkbox
          >
        </div>
      </div>
      <!-- <div class="col" *ngIf="filtered && renderingData.length === 0">
        <button mat-raised-button (click)="refreshFollowUps()" class="go-back">
          <i class="bi bi-arrow-left-circle-fill"></i> GO BACK
        </button>
      </div> -->
    </mat-card>
   
    <!-- {{renderingData.length}} -->
    <div class="row"  *ngIf="selectedDate">
      <div class="col my-2 text-center ">
        <p  class="my-2" style="font-size: 12px;font-weight: normal !important;">
          Applied Date &nbsp; : &nbsp; {{ selectedDate | date : "dd-MM-yyyy " }}
        </p>
        <!-- <div class="card w-50 text-center shadow-lg" >
          
        </div>
      -->
      </div>
    </div>
    <!-- {{(renderingData | filter: followupSearch).length}} -->
    <app-nodata
      class="d-flex align-items-center justify-content-center"
      *ngIf="
        !renderingData ||
        renderingData?.length === 0 ||
        (renderingData | filter : followupSearch)?.length === 0
      "
    ></app-nodata>

    <div
      class="row"
      *ngIf="
        (renderingData | filter : followupSearch)?.length > 0;
        else noResultsSection
      "
    >
      <div
        class="col-12 col-md-12"
        *ngFor="
          let followUp of renderingData | filter : followupSearch;
          let i = index
        "
      >
        <!-- Show a message or any other content when there are no search results -->
        <ng-template #noResultsSection>
          <div class="col">
            <app-nodata
              class="d-flex align-items-center justify-content-center"
            ></app-nodata>
          </div>
        </ng-template>

        <mat-card class="">
          <div class="row d-flex align-items-center shadow-lg p-3">
            <div class="col-sm-12 col-md-12 col-lg-4">
              <div class="row">
                <div class="col-2 d-flex align-items-center">
                  <mat-checkbox
                    (change)="onCheckboxChange($event,followUp.lead_id,followUp.lead)"
                    [checked] ="followUp.checked"
                  ></mat-checkbox>
                </div>

                <!-- <div class="col">
              <div class="row">
                <div class="col-6 text-muted">{{ followUp.id }} 
                 
                </div>
              </div>
            </div> -->
                <div class="col">
                  <div class="row text-start">
                    <div
                      class="col-12 c-name point-set fw-bold"
                      (click)="EditFollowups(followUp.id)"
                    >
                      {{ followUp.lead | titlecase }}
                    </div>
                    <div class="col-12 text-muted my-1" style="font-size: 10px">
                      <b>{{ followUp.lead_mobile_number }}</b>
                    </div>
                    <!-- <span class="alightColor badge student-badge">{{ leadData.badgeCount }}</span> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col"></div>
            <div class="col-sm-12 col-md-6 col-lg-2">
              <div class="row">
                <div
                  class="col-12"
                  [ngClass]="{
                    yellow: followUp.follow_up_status_name == 'Upcoming',
                    green: followUp.follow_up_status_name == 'Done',
                    red: followUp.follow_up_status_name == 'Missed'
                  }"
                >
                  <b> {{ followUp.follow_up_status_name | uppercase }}</b>
                </div>

                <!-- <div class="col-12 text-muted">{{ followUp.leadStatus }}</div> -->
              </div>
            </div>
            <div class="col"></div>
            <!-- <div class="col-sm-12 col-md-6 col-lg-3 border-r">
          <div class="row">
            <div class="col p-0 text-center">
              <i class="bi bi-telephone"></i><span class="ps-1"></span> 
            </div>
            <div class="col p-0 text-center">
              <i class="bi bi-chat-left"></i><span class="ps-1"></span> 
            </div>
            <div class="col p-0 text-center">
              <i class="bi bi-envelope"></i> <span class="ps-1"></span> 
            </div>
            <div class="col p-0 text-center">
              <i class="bi bi-chat-left-text"></i><span class="ps-1"></span> 
            </div>
          </div>
        </div> -->
            <!-- <div class="col-sm-12 col-md-6 col-lg-1">
          <div class="row"> -->
            <!-- <div class="col p-0 text-center position-rel">
              <i class="bi bi-person" title="Counselor Activities"></i><span class="badge clr-person-1" title="Counselor Activities">{{ leadData.personCounts[0] }}</span>
            </div>
            <div class="col p-0 text-center  position-rel">
              <i class="bi bi-person" title="Lead Responses"></i><span class="badge clr-person-2" title="Lead Responses">{{ leadData.personCounts[1] }}</span>
            </div>
            <div class="col p-0 text-center  position-rel">
              <i class="bi bi-person" title="Lead Re-inquired Count"></i><span class="badge clr-person-3" title="Lead Re-inquired Count">{{ leadData.personCounts[2] }}</span>
            </div> -->
            <!-- <div class="col p-0 text-center viewAll m-auto" (click)="openViewAll(leadData.name)">View All</div> -->
            <!-- </div>
        </div> -->
            <div class="col-sm-0 col-md-0 col-lg-1"></div>
            <div class="col-sm-12 col-md-6 col-lg-3 p-ct my-0 py-0 gy-0 mx-0">
              <div class="row">
                <div class="col p-0">
                  <div ngbDropdown class="d-inline-block lead-dropdown my-1">
                    <!-- <mat-icon
                      class="common-class"
                      id="dropdownBasic1"
                      ngbDropdownToggle
                      (click)="openMorePanel()"
                      >more_vert</mat-icon
                    > -->
                    <!-- <div
                      ngbDropdownMenu
                      aria-labelledby="dropdownBasic1"
                      class="more-dropdown"
                      style="cursor: pointer"
                    >
                      <div
                        class="app-list"
                        ngbDropdownToggle
                        (click)="EditFollowups(followUp.id)"
                      >
                        <i class="bi bi-pencil-square"></i> &nbsp;Edit
                        <img
                          src="./assets/images/edit-icon.png"
                          alt=""
                          width="18"
                          height="18"
                        /> 
                        <span class="mx-1 my-2">Edit</span>
                      </div>
                      <div class="app-list" ngbDropdownToggle routerLink="../createEnterpriseTemplate">
                    <i style="color: red;" class="bi bi-circle-fill"></i> followUp
                  </div>
                  <div class="app-list" ngbDropdownToggle routerLink="../createEnterpriseTemplate">
                    <i style="color: rgb(208, 203, 62);" class="bi bi-circle-fill"></i> Planned
                  </div>
                    </div> -->
                  </div>
                </div>


                <div
                class="col p-1"
                (click)="EditFollowups(followUp.id)"
                title="Edit Followup"
              >
                <!-- <i class="bi bi-camera-video"></i> -->
                <img
                          src="./assets/images/edit-icon.png"
                          alt=""
                          width="15"
                          height="15"
                        /> 
              </div>




                <div
                  class="col p-1"
                  (click)="IndividualopenVideoCall(followUp)"
                  title="Send Video Conferencing Invite"
                >
                  <!-- <i class="bi bi-camera-video"></i> -->
                  <img
                    src="./assets/images/videocall.png"
                    alt=""
                    height="17"
                    width="17"
                  />
                </div>
                <!-- <div class="col p-1 " >
              <i class="bi bi-telephone"></i>
            </div> -->
                <div
                  class="col p-1 position-rel"
                  (click)="IndividualopenSMS(followUp)"
                  title="Send SMS"
                >
                  <!-- <i class="bi bi-chat-dots"></i> -->
                  <img
                    src="./assets/images/chat.png"
                    alt=""
                    height="15"
                    width="18"
                  />
                </div>
                <div
                  class="col p-1"
                  (click)="openEmailSendoutForm(followUp)"
                  title="Send Email"
                >
                  <!-- <i class="bi bi-envelope"></i> -->
                  <img
                    src="./assets//images/email-icon.png"
                    alt=""
                    height="12"
                    width="16"
                  />
                </div>
                <div
                  class="col p-1"
                  (click)="IndividualopenWhatsAppChat(followUp)"
                  title="WhatsApp Chat"
                >
                  <!-- <i class="bi bi-whatsapp"></i> -->
                  <img
                    src="./assets/images/WhatsApp_icon.png"
                    alt=""
                    height="21"
                    width="21"
                  />
                </div>
                <!-- <div class="col  p-1 ">
              <i class="bi bi-wechat"></i>
            </div> -->

                <div class="col p-0 py-1">
                  <mat-icon
                    title="View Details"
                    class="common-class"
                    *ngIf="expandedCardIndex !== i"
                    (click)="expandCard(i)"
                    >expand_more</mat-icon
                  >
                  <mat-icon
                    class="common-class"
                    *ngIf="expandedCardIndex === i"
                    (click)="expandCard(i)"
                    >expand_less</mat-icon
                  >
                </div>
              </div>
            </div>
          </div>

          <!-------------EXPANSION PANEL------------------>
          <!-- <ng-container *ngIf="expandPanel">
        <app-my-followup-bottom-pannel></app-my-followup-bottom-pannel>
      </ng-container> -->

          <ng-container *ngIf="expandedCardIndex === i">
            <mat-card class="inner-expansion">
              <div class="row mb-1">
                <div class="row mb-1">
                  <div class="col">
                    <div class="row text-start">
                      <div class="col-12 pannel-label">Lead Number</div>
                      <div class="col-12" *ngIf="!followUp.lead_number">
                        {{ "NA" }}
                      </div>
                      <div class="col-12" *ngIf="followUp.lead_number">
                        {{ followUp.lead_number }}
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="row text-start">
                      <div class="col-12 pannel-label">Lead ID</div>
                      <div class="col-12" *ngIf="!followUp.lead_id">
                        {{ "NA" }}
                      </div>
                      <div class="col-12" *ngIf="followUp.lead_id">
                        {{ followUp.lead_id }}
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="row text-start">
                      <div class="col-12 pannel-label">Age</div>
                      <div class="col-12" *ngIf="!followUp.age">{{ "NA" }}</div>
                      <div class="col-12" *ngIf="followUp.age">
                        {{ followUp.age }}
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col">
                  <div class="row">
                      <div class="col-12 pannel-label text-start">Campaign Name</div>
                      <div class="col-12" *ngIf="!followUp.campaign_name">{{'NA'}}</div>
                      <div class="col-12" *ngIf="followUp.campaign_name">{{followUp.campaign_name}}</div>
                  </div>
              </div> -->
                  <div class="col">
                    <div class="row text-start">
                      <div class="col-12 pannel-label">Source</div>
                      <div class="col-12" *ngIf="!followUp.source">NA</div>
                      <div class="col-12" *ngIf="followUp.source">
                        {{ followUp.source }}
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="row text-start">
                      <div class="col-12 pannel-label">Next Action Date</div>
                      <div class="col-12" *ngIf="!followUp.action_date_time">
                        {{ "NA" }}
                      </div>
                      <div class="col-12" *ngIf="followUp.action_date_time">
                        {{ followUp.action_date_time | date : "medium" }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row my-2">
                  <!-- <div class="col">
                <div class="row text-start">
                    <div class="col-12 pannel-label">Channel</div>
                    <div class="col-12" *ngIf="!followUp.communication_channel">{{'NA'}}</div>
                    <div class="col-12" *ngIf="followUp.communication_channel">{{followUp.communication_channel}}</div>
                </div>
              </div> -->
                  <!-- <div class="col">
                  <div class="row text-start">
                      <div class="col-12 pannel-label">Medium</div>
                      <div class="col-12" *ngIf="!followUp.medium_name">{{'NA'}}</div>
                      <div class="col-12"  *ngIf="followUp.medium_name">{{followUp.medium_name}}</div>
                  </div>
              </div> -->

                  <div class="col">
                    <div class="row text-start">
                      <div class="col-12 pannel-label">
                        Modification Date Time
                      </div>
                      <div class="col-12" *ngIf="!followUp.modified_datetime">
                        {{ "NA" }}
                      </div>
                      <div class="col-12" *ngIf="followUp.modified_datetime">
                        {{ followUp.modified_datetime | date : "medium" }}
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="row text-start">
                      <div class="col-12 pannel-label">Creation Date Time</div>
                      <div class="col-12" *ngIf="!followUp.created_datetime">
                        {{ "NA" }}
                      </div>
                      <div class="col-12" *ngIf="followUp.created_datetime">
                        {{ followUp.created_datetime | date : "medium" }}
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <div class="row text-start">
                      <div class="col-12 pannel-label">Lead Owner</div>
                      <!-- <div class="col-12" *ngIf="!followUp.counsellor">
                  {{ "NA" }}
                </div> -->

                      <div class="col-12">
                        {{ followUp.counsellor_first_name }}
                        {{ followUp.counsellor_last_name }}
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="row text-start">
                      <div class="col-12 pannel-label">City</div>
                      <div class="col-12" *ngIf="!followUp.city">
                        {{ "NA" }}
                      </div>

                      <div class="col-12" *ngIf="followUp.city">
                        {{ followUp.city }}
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="row text-start">
                      <div class="col-12 pannel-label">Counselled By</div>
                      <div class="col-12" *ngIf="!followUp.counselled_by">
                        {{ "NA" }}
                      </div>

                      <div class="col-12" *ngIf="followUp.counselled_by">
                        {{ followUp.counselled_by }}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mb-1">
                  <div class="col">
                    <div class="row text-start">
                      <div class="col-12 pannel-label">Payment Status</div>
                      <div class="col-12" *ngIf="!followUp.payment_status">
                        {{ "NA" }}
                      </div>
                      <div class="col-12" *ngIf="followUp.payment_status">
                        {{ followUp?.payment_status }}
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="row text-start">
                      <div class="col-12 pannel-label">Admission Status</div>
                      <div class="col-12" *ngIf="!followUp.admission_status">
                        NA
                      </div>
                      <div class="col-12" *ngIf="followUp.admission_status">
                        {{ followUp?.admission_status }}
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="row text-start">
                      <div class="col-12 pannel-label">Document Status</div>
                      <div class="col-12" *ngIf="!followUp.docs_process">
                        NA
                      </div>
                      <div class="col-12" *ngIf="followUp.docs_process">
                        {{ followUp.docs_process }}
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col">
                <div class="row text-start">
                    <div class="col-12 pannel-label">Status</div>  
                    <div class="col-12" *ngIf="!followUp.status">NA</div>
                    <div class="col-12">{{followUp?.status}}</div>
                </div>
              </div> -->
                  <div class="col">
                    <div class="row text-start">
                      <div class="col-12 pannel-label">Course</div>
                      <div class="col-12" *ngIf="!followUp.course_looking_for">
                        NA
                      </div>
                      <div class="col-12" *ngIf="followUp.course_looking_for">
                        {{ followUp?.course_looking_for }}
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="row text-start">
                      <div class="col-12 pannel-label">Stream</div>
                      <div class="col-12" *ngIf="!followUp.stream">NA</div>
                      <div class="col-12" *ngIf="followUp.stream">
                        {{ followUp?.stream }}
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="col ">
                <div class="row text-start">
                    <div class="col-12 pannel-label">
                       Action Date Time
                    </div>
                    <div class="col-12">{{followUp.action_date_time |date:"medium"}}</div>
                </div>
            </div> -->

                <!-- <div class="col">
              <div class="row text-start">
                  <div class="col-12 pannel-label">Age</div>
                  <div class="col-12">{{followUp.counsellor}}</div>
              </div>
          </div> -->
                <!-- <div class="col">
            <div class="row text-start">
                <div class="col-12 pannel-label">Campaign Name</div>
                <div class="col-12">{{followUp.counsellor}}</div>
            </div>
        </div> -->
                <!-- <div class="col">
                <div class="row">
                    <div class="col-12 pannel-label">Created By</div>
                    <div class="col-12">{{followUp.created_by}}</div>
                </div>
            </div> -->
              </div>
              <div class="row mb-1">
                <!-- <div class="col">
                <div class="row">
                    <div class="col-12 pannel-label">Followup Type</div>
                    <div class="col-12">{{followUp.follow_up_type}}</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-12 pannel-label">Followup Text</div>
                    <div class="col-12">{{followUp.follow_up_text}}</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-12 pannel-label">Lead Status</div>
                    <div class="col-12">{{followUp.lead_status}}</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-12 pannel-label">Department</div>
                    <div class="col-12">-</div>
                </div>
            </div> -->
              </div>
              <div class="row mb-1">
                <!-- <div class="col">
                <div class="row">
                    <div class="col-12 pannel-label">Sub Status</div>
                    <div class="col-12">Fresh Lead</div>
                </div>
            </div> -->
                <!-- <div class="col">
                <div class="row">
                    <div class="col-12 pannel-label">Medium</div>
                    <div class="col-12">-</div>
                </div>
            </div> -->
                <!-- <div class="col">
                <div class="row">
                    <div class="col-12 pannel-label">Lead Creation Date</div>
                    <div class="col-12">{{followUp.created_datetime}}</div>
                </div>
            </div> -->

                <!-- <div class="col">
                <div class="row">
                    <div class="col-12 pannel-label">Lead Modification Date</div>
                    <div class="col-12">Aug 13,2023 1:29 PM</div>
                </div>
            </div> -->
              </div>
              <!-- <div class="row mb-1">
            <div class="col">
                <div class="row">
                    <div class="col-12 pannel-label">Push To ERP Update Date</div>
                    <div class="col-12">-</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-12 pannel-label">Referred To Update Date</div>
                    <div class="col-12">Aug 30,2023 5:34 PM</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-12 pannel-label">Automated Updated Date</div>
                    <div class="col-12">-</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-12 pannel-label">Next Action Date</div>
                    <div class="col-12">-</div>
                </div>
            </div>
          </div>  -->
              <!-- <div class="row mb-1">
            <div class="col">
                <div class="row">
                    <div class="col-12 pannel-label">Previous Lead Owner</div>
                    <div class="col-12">Abhijeeth</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-12 pannel-label">Lead Owner</div>
                    <div class="col-12">Sudip Gupta</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-12 pannel-label">Last Updated By</div>
                    <div class="col-12">-</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-12 pannel-label">Registration Date</div>
                    <div class="col-12">-</div>
                </div>
            </div>
          </div>  -->
              <!-- <div class="row mb-1">
            <div class="col">
                <div class="row">
                    <div class="col-12 pannel-label">First Login Date-Time</div>
                    <div class="col-12">-</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-12 pannel-label">Last Active Date-Time</div>
                    <div class="col-12">-</div>
                </div>
            </div>
             <div class="col">
                <div class="row">
                    <div class="col-12 pannel-label">Activity Type</div>
                    <div class="col-12">-</div>
                </div>
            </div> 
          <div class="col">
                <div class="row">
                    <div class="col-12 pannel-label">Activity Created By</div>
                    <div class="col-12">-</div>
                </div>
            </div> 
          </div>   -->
            </mat-card>
          </ng-container>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="col" style="padding: 45px;position: sticky;top: 0;z-index: 9999999999999999;">
    <div class="col d-flex"></div>

    <!-- <div class="col-12"></div> -->

    <!-- <button  class="btn btn-outline-secondary" type="button">
    <i class="bi bi-search"></i>
  </button> -->

    <div class="input-group z-s m-auto m-2" id="calender-col">
      <div class="col-12">
        <mat-card>
          <input
            type="search"
            class="form-control icon-rtl"
            placeholder="Search by Name/Mobile"
            [(ngModel)]="tempSearch"
            (input)="getSearchValue($event)"
          
          />

          <mat-calendar
          class="custom-calendar shadow-lg my-5"
          [(selected)]="selectedDate"
          (selectedChange)="selectDate($event)"
        >
        </mat-calendar>

          <!-- <button  class="btn btn-outline-secondary" type="button">
    <i class="bi bi-search"></i>
  </button> -->
          <!-- <div
            class="row reset-calender"
            *ngIf="selectedDate !== null || undefined"
          >
            <button
              style="outline: none !important; border: none !important"
              class="btn btn text-right py-3"
              type="button"
              title="Reset Calender"
              (click)="refreshFollowUps()"
            >
              <img
                src="./assets/images/refresh.svg"
                alt=""
                height="25"
                width="25"
              />
            </button>
          </div> -->

          <!-- <button class="btn btn-outline-primary" type="button">
            
            <i class="bi bi-search"></i>
          </button> -->

        

          <!-- <button
            class="btn btn-outline-primary my-2 mx-3"
            type="button"
            (click)="refreshFollowUps()"
          >
            Reset Filter
          </button> -->
        </mat-card>
      </div>
    </div>
  </div>
</div>

<mat-paginator
  [length]="totalNumberOfRecords"
  [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page"
  (page)="onPageChangeNew($event)"
  #allPaginator
>
</mat-paginator>
