<div class="head-container">
    <h1>Analytics Dashboard</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <app-filter-list></app-filter-list>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-2">
            <app-lead-count-card></app-lead-count-card>
        </div>
        <div class="col-12 col-md-2">
            <app-total-applicants-card></app-total-applicants-card>
        </div>
        <div class="col-12 col-md-2">
            <app-total-paid-applications-card></app-total-paid-applications-card>
        </div>
        <div class="col-12 col-md-2">
            <app-total-enrollments-card></app-total-enrollments-card>
        </div>
        <div class="col-12 col-md-2">
            <app-registered-application-card></app-registered-application-card>
        </div>
        <div class="col-12 col-md-2">
            <app-total-verified-enquiries-card></app-total-verified-enquiries-card>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 col-md-2">
            <app-total-re-enquiries-card></app-total-re-enquiries-card>
        </div>
        <div class="col-12 col-md-2">
            <app-email-sent-card></app-email-sent-card>
        </div>
        <div class="col-12 col-md-2">
            <app-sms-sent-card></app-sms-sent-card>
        </div>
        <div class="col-12 col-md-2">
            <app-call-connected-card></app-call-connected-card>
        </div>
        <div class="col-12 col-md-2">
            <app-missed-followup-card></app-missed-followup-card>
        </div>
    </div>
</div>

