<div class="container-fluid">
    <div class="row">
        <div class="col-sm-0 col-md-6 col-lg-6 d-flex justify-content-center align-items-center">
            <ngb-carousel
            #carousel
            [interval]="3000"
            [showNavigationArrows]="false"
	        width="200"
            (slide)="onSlide($event)"
            class="img-carousel"
         >
            <ng-template ngbSlide *ngFor="let img of images; index as i" >
                <div class="carousel-caption">
                </div>
                <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
                    <div class="picsum-img-wrapper">
                        <img [src]="img" alt="My image {{i + 1}} description" style="width: 80% !important;"/>
                    </div>
                </a>
            </ng-template>
        </ngb-carousel>
        
        <hr />
        </div>
        <div class="col-sm-12 col-md-6 col-6">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                            <mat-card class="formContainer">
                             <div class="d-flex align-items-center">
                                <img src="../../../assets/images/logo.png" width="200"  class="logo-tag"/>
                             </div>
                             <div class="inner-container ">
                                <div class="row ">
                                    <div class="col-12 text-center">
                                        <h4 class="">LOG IN</h4>
                                    </div>
                                </div>
                               <form [formGroup]="loginForm" (ngSubmit)="login()">
                                <div class="row">
                                    <div class="col-12 mb-2">
                                        <mat-form-field appearance="outline">
                                            <mat-label>User Name</mat-label>
                                            <input matInput placeholder="Enter Your Name" formControlName="email" required>
                                            <mat-error *ngIf="f['email'].invalid && f['email'].touched">
                                                <div *ngIf="f['email'].errors && f['email'].errors['required']">
                                                    User Name Is Required
                                                </div>
                                                <div *ngIf="f['email'].errors && f['email'].errors['email']">
                                                    Invalid User Name
                                                </div>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Password</mat-label>
                                            <input matInput type="password" formControlName="password" placeholder="Enter Your Password" [type]="hidePassword ? 'password' : 'text'" required >
                                            <button type="button" mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                                              <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                                            </button>
                                            <mat-error *ngIf="f['password'].invalid && f['password'].touched">
                                                <div *ngIf="f['password'].errors && f['password'].errors['required']">
                                                    Password Is Required
                                                </div>
                                                <div *ngIf="f['password'].errors && f['password'].errors['pattern']">
                                                    Password Must Be At Least 8 Characters Long, One Uppercase Letter, One Special Character,One Number
                                                </div>
                                            </mat-error>
                                          </mat-form-field>
                                    </div>
                                    <div class="col-12">
                                        <a><div class="text-end forgot-pass" (click)="goToForgotPassword()">Update/Forgot Password?</div></a>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <mat-checkbox>Remember Me</mat-checkbox>
                                </div>

                                <div class="col-12 my-4">
                                    <button type="submit" mat-button class="appCoColor" >LOGIN</button>
                                </div>
                                  
                               </form>    
                             </div>
                        </mat-card>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
  
</div>

