
<div class="head-container">
    <h1><span class="h1-set-header" routerLink="/advancesettings">Advance Settings  <i class="bi bi-chevron-right"></i> </span>
      <span class="h1-set-header" routerLink="/advancesettings/setupDropDownValues">Setup Dropdown Values <i class="bi bi-chevron-right"></i></span><span>State</span></h1>
  </div>
   
   <div class="row m-4">
    <div class="col-sm-12 col-md-6 col-lg-8 text-end">
            <mat-icon (click)="openAdd()" class="more-inner-icon"> format_list_bulleted_add</mat-icon>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="input-group z-s">
        <input type="text" class="form-control" placeholder="Search Status Name">
        <button class="btn btn-outline-secondary" type="button">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>
   </div>
   
  <div class="genericTable">
    <table mat-table [dataSource]="dataSource"  matSort>
      <!-- Define User Name column -->
      <ng-container matColumnDef="User Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>STATE</th>
        <td mat-cell *matCellDef="let element" class="user-name"(click)="openEdit()">{{ element['User Name'] }}</td>
      </ng-container>
    
      <!-- Define Email column -->
      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Active</th>
        <td mat-cell *matCellDef="let element">{{ element.Email }}</td>
      </ng-container>
    
      <!-- Define Mobile column -->
      <ng-container matColumnDef="Mobile">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Sysytem value</th>
        <td mat-cell *matCellDef="let element">{{ element.Mobile }}</td>
      </ng-container>
    
      <!-- Define User Role column -->
      <ng-container matColumnDef="User Role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Country id</th>
        <td mat-cell *matCellDef="let element">{{ element['User Role'] }}</td>
      </ng-container>

    

    
  
    
      <!-- Set the column headers -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    
      <!-- Define the table rows -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
  </div>
     
    <!-- Add pagination -->
    <mat-paginator  [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
   