* .row,.col{
    margin: 0 !important;
    padding: 0 !important;
}
.r-h{
    height: fit-content !important;
}
h6{
    padding: 10px 10px 0;
    font-weight: 600;
    margin: 5px 0 10px !important;
}
.container{
    margin: 10px 0;
}
mat-card{
    box-shadow: none !important;
    margin: 0;
    padding: 0;
}