<mat-card>
    <div class="mat-dialog-header">
      <div class="row">
          <div class="col"><h1 mat-dialog-title>Edit User</h1></div>
          <div class="col-1 close-icon">
              <mat-icon mat-dialog-close>close</mat-icon>
          </div>
      </div>
    </div>
    <div class="container box">

    <mat-dialog-content>
        <div class="row border-bottom mx-1 my-2 pb-3">
          <div class="col-sm-12 col-md-12 col-lg-2 m-auto">
              <div class="profile-container position-rel">
                <img [src]="selectedImage?selectedImage:'../../../../../../assets/images/edit-profile.jpg'" height="70" width="70"  alt="Profile Image">
               <!-- <span *ngIf="!selectedImage">{{data.userdata['User Name'][0]}}</span>  -->
               
               <div ngbDropdown #myDropdown="ngbDropdown" class="pencil-edit">
                <mat-icon id="edit-icon"  id="dropdownBasic1" ngbDropdownToggle>edit</mat-icon>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="more-dropdown">
                   <div class="app-list"ngbDropdownToggle (click)="openFileInput()">
                    Edit Image
                   </div>
                   <div class="app-list" ngbDropdownToggle (click)="removeImage()" >
                    Remove Image
                   </div>
                  </div>
                </div>
              <input type="file" id="file-input" style="display: none;" (change)="handleFileChange($event)">
              </div>   
          </div>
          <div class="col-10">
            <div class="row px-2">
              <div class="col-sm-8 col-md-8 col-lg-10"> <h6 class="mt-3 u-name">{{user_details.first_name}} {{user_details.last_name}}</h6></div>
              <!-- <div class="col-sm-2 col-md-2 col-lg-1 mt-3">
                <mat-icon class="more-inner-icon" (click)="openResetPassword(data)">autorenew</mat-icon>
              </div>
              <div class="col-sm-2 col-md-2 col-lg-1 mt-3">
                <mat-icon class="more-inner-icon " (click)="openDisableChat(data.userdata['User Name'])">speaker_notes_off</mat-icon>
              </div> -->
            </div>
          
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-5 text-muted mt-2 ps-4 pd-r">
                <ul>
                    <li class="text-truncate">Email: {{user_details.email}}</li>
                    <li>User Role : {{user_details.role_name}}</li>
                    <li>User Status : </li>
                  </ul>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-7 right-container text-muted mt-2 ps-4">
              <ul>
                <li>
                  Designation : {{user_details.designation_name}}</li>
                <li>Last Login Date : {{user_details.last_login |date: 'dd/MM/yyyy'}}</li>
                <li>Created On : {{user_details.date_joined |date: 'dd/MM/yyyy'}}</li>
              </ul>
            </div>
            </div>
          </div>
          
        </div>
      
       
      
        <div class="row mx-1 my-4">
          <div class="col-12">
            <h6>Section 1 : Basic User Details</h6>
            <form [formGroup]="editForm">
              <div class="row border-bottom">
                <div class="col-12">
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input formControlName="first_name" type="text" matInput placeholder="First Name">
                      </mat-form-field>
                      <mat-error *ngIf="f['first_name'].invalid && f['first_name'].touched">
                        <div *ngIf="f['first_name'].errors && f['first_name'].errors['required']">
                            First Name Is Required
                        </div>
                    </mat-error>
                        
                        <!-- <mat-error *ngIf="!replaceUserForm.get('firstName')?.hasError('required') && replaceUserForm.get('firstName')?.hasError('pattern')">Invalid First Name</mat-error> -->
                      
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input formControlName="last_name" type="text" matInput placeholder="Last Name">
                      </mat-form-field>
                    </div>
                    
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input formControlName="email" type="email" matInput placeholder="Email">
                      </mat-form-field>
                      <mat-error *ngIf="f['email'].invalid && f['email'].touched">
                        <div *ngIf="f['email'].errors">
                          <div *ngIf="f['email'].errors['required']">
                            Email is required
                          </div>
                          <div *ngIf="f['email'].errors['email']">
                            Invalid email format
                          </div>
                        </div>
                      </mat-error>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Mobile Number</mat-label>
                        <input maxlength="10" formControlName="mobile_number" type="tel" matInput placeholder="Mobile Number">
                      </mat-form-field>
                      <mat-error *ngIf="f['mobile_number'].invalid && f['mobile_number'].touched">
                               
                        Mobile Number Is Invalid
                </mat-error>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Emp Key</mat-label>
                        <input formControlName="emp_key" type="text" matInput placeholder="Emp Key">
                      </mat-form-field>
                    </div>
                    <!-- <div class="col-sm-12 col-md-12 col-lg-6">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Target</mat-label>
                        <input formControlName="target" type="text" matInput placeholder="Target">
                      </mat-form-field>
                    </div> -->
                  </div>
                  <div class="row mb-4">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Start Date</mat-label>
                        <input (dateInput)="date($event)" formControlName="start_date" matInput [matDatepicker]="start_date"  [min]="min" >
                        <mat-datepicker-toggle matSuffix [for]="start_date"></mat-datepicker-toggle>
                        <mat-datepicker #start_date></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                      <mat-form-field  appearance="outline">
                        <mat-label>Designation</mat-label>
                        <mat-select  formControlName="designation_id">
                          <mat-option *ngFor="let item of allDesignation" [value]="item.id"   [ngStyle]="{ display: item.id === 5 ? 'none' : 'block' }"  [ngClass]="[item.id === 3? 'display' : '', item.id===4 ? 'display' : '']">{{item.designation_name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-error *ngIf="f['designation_id'].invalid && f['designation_id'].touched">
                        <div *ngIf="f['designation_id'].errors && f['designation_id'].errors['required']">
                            Designation Is Required
                        </div>
                    </mat-error>
                    </div>

                  </div>
                </div>
              </div>
        
              <h6 class="mt-4">Section 2 : Access Level Details</h6>
              <div class="row border-bottom mb-4">
                
                <div class="col-sm-12 col-md-12 col-lg-6 mb-4">
                  <mat-form-field  appearance="outline">
                    <mat-label>Select User Role</mat-label>
                    <mat-select  formControlName="role_id">
                      <mat-option *ngFor="let item of allRole" [value]="item.id"  [ngStyle]="{ display: item.id === 7 ? 'none' : 'block' }"
                      (click)="onRoleChange(item.id)"   [ngClass]="[item.id === 5? 'display' : '', item.id===4 ? 'display' : '',item.id===7? 'display' :'']">{{item.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-error *ngIf="f['role_id'].invalid && f['role_id'].touched">
                    <div *ngIf="f['role_id'].errors && f['role_id'].errors['required']">
                        User Role Is Required
                    </div>
                </mat-error>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 mb-4"   *ngIf="isReportingToUser">
                  <mat-form-field  appearance="outline">
                    <mat-label>Select Reporting to User</mat-label>
                    <mat-select formControlName="reporting_to_ids" (selectionChange)="onSelectionChange($event)"   [required]="isReportingToUser"  multiple>
                      <mat-option *ngFor="let item of allUser" [value]="item.id">{{item.first_name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-error *ngIf="f['reporting_to_ids'].invalid && f['reporting_to_ids'].touched">
                    <div *ngIf="f['reporting_to_ids'].errors && f['reporting_to_ids'].errors['required']">
                        Reporting to User Is Required
                    </div>
                </mat-error>
                  </div>
                  
              </div>
        
              <!-- <h6>Section 3: Access Level Details</h6> -->
              <!-- <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6">
                  <mat-form-field  appearance="outline">
                    <mat-label>Level of Program</mat-label>
                    <mat-select  formControlName="level_of_program_id">
                      <mat-option *ngFor="let item of allLevel" [value]="item.id">{{item.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-error *ngIf="f['level_of_program_id'].invalid && f['level_of_program_id'].touched">
                    <div *ngIf="f['level_of_program_id'].errors && f['level_of_program_id'].errors['required']">
                        Level of Program Is Required
                    </div>
                </mat-error>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                  <mat-form-field  appearance="outline">
                    <mat-label>Department</mat-label>
                    <mat-select formControlName="department_id" >
                      <mat-option *ngFor="let item of allDepartment" [value]="item.id">{{item.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div> -->
            </form>
          </div>
        </div>
    </mat-dialog-content>

      </div>
       
      
      <!-----------END--------------->
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close class="mat-cancel">CANCEL</button>
      <button mat-button type="button"  class="mat-disable" cdkFocusInitial (click)="submit()">UPDATE</button>
    </div>
  </mat-card>
  
  