.add-btn{
    position: absolute;
    bottom: 7rem;
    right: 10px;
}
.upload-btn{
    position: absolute;
    bottom: 3rem;
    right: 10px;
}
.forward-icon{
    border-left: 2px solid white;
    transform: rotate(-90deg);
}