

 <div class="row z-s" style="margin-left: 1.4rem;" *ngIf="!mobileQuery.matches">
  <div class="col-4 mt-1">
    <app-searchbar></app-searchbar>
  </div>

  <div class="col-2">
    <div class="ico-d-w mt-2">
      <app-notification></app-notification>
    </div>
    <div class="ico-d-w mt-0">
      <mat-icon>add_circle</mat-icon>
    </div>
    <div class="ico-d-w mt-2">
      <mat-icon matBadge="15" matBadgeColor="primary"> forum</mat-icon>
    </div>
  </div>
  
 
  <div class="col-3"></div>
  <div class="col-1 mt-2">
    <mat-icon>info</mat-icon>
  </div>
  <div class="col-1"></div>

  <div class="col-1 text-end">
    <button mat-mini-fab color="warn" aria-label="Example icon button with a menu icon">
      <mat-icon>person</mat-icon>
    </button>
  </div>
</div>

<div class="row" *ngIf="mobileQuery.matches">
  <!-- <div class="col-5 mt-1">
    <div class="input-group z-s">
      <input type="text" class="form-control" placeholder="Search">
      <button class="btn btn-outline-secondary" type="button">
        <i class="bi bi-search"></i>
      </button>
    </div>
  </div> -->
  <div class="col-2"></div>
  <div class="col-4">
    <div class="ico-d-m mt-2">
     <app-notification></app-notification>
     </div>
    <div class="ico-d-m mt-0">
      <mat-icon>add_circle</mat-icon>
    </div>
    <div class="ico-d-m mt-2">
      <mat-icon matBadge="15" matBadgeColor="primary"> forum</mat-icon>
    </div>
  </div>
  <div class="col-3 mt-2 text-end">
    <mat-icon>info</mat-icon>
  </div>
 
  <div class="col-3 text-end">
    <button mat-mini-fab color="warn" aria-label="Example icon button with a menu icon">
      <mat-icon>person</mat-icon>
    </button>
  </div>
</div>
