

 <div class="row z-s" style="margin-left: 1.4rem;" *ngIf="!mobileQuery.matches">
  <div class="col-4 mt-1">
    <!-- <app-searchbar></app-searchbar> -->
    <div class="ico-d-w mt-2 py-1" title="Quick Add Lead" (click)="quickAdd()">
      <mat-icon style="color:#f5bd64 !important">add_circle</mat-icon>
    </div>
  </div>
 

  <div class="col-2">
    <div class="ico-d-w mt-2">
      <span style="color:#f5bd64 !important;font-size: 17px;font-weight: bolder">Name :</span>&nbsp; <span class="" style="color:#f5bd64 !important;width: 200px;font-size: 18px; list-style-type: none !important;;">{{name|titlecase}}</span> 
      
      <!-- <app-notification></app-notification> -->
    </div>
    
    <div class="ico-d-w mt-2">
      
      <!-- <mat-icon matBadge="15" matBadgeColor="primary"> forum</mat-icon> -->
    </div>
  </div>
  
 
  <div class="col-3"></div>
  
  <div class="col-1 mt-2">
  
   <span style="color:#f5bd64 !important;font-size: 17px;font-weight: bolder">Role :</span>&nbsp; <span class="text-truncate" style="color:#f5bd64 !important;font-size: 18px; list-style-type: none !important;;">{{role|titlecase}}</span>
    <!-- <div class="col-12">
      <div class=" text-truncate" >{{name}}</div>
      <div class="" style="color:#f5bd64 !important;font-size: 15px;">{{role}}</div>
    </div> -->
    
    <!-- <mat-icon>info</mat-icon> -->
  </div>
  <div class="col-1"></div>

  <div class="col-1 text-end">
    <!-- <button mat-mini-fab  aria-label="Example icon button with a menu icon">
      <mat-icon style="color: #989898 !important;">person</mat-icon>
    </button> -->
    <app-login-list></app-login-list>
  </div>
</div>

<div class="row" *ngIf="mobileQuery.matches">
  <div class="col-2"></div>
  <div class="col-4">
    <div class="ico-d-m mt-2">
     <app-notification></app-notification>
     </div>
    <div class="ico-d-m mt-0" (click)="quickAdd()">
      <mat-icon>add_circle</mat-icon>
    </div>
    <div class="ico-d-m mt-2">
      <!-- <div class="" style="color:#f5bd64 !important;">{{name}}</div> -->
      <!-- <mat-icon matBadge="15" matBadgeColor="primary"> forum</mat-icon> -->
    </div>
  </div>
  <div class="col-3 mt-2 text-end">
   
    <!-- <mat-icon>info</mat-icon> -->
  </div>
 
  <div class="col-3 text-end">
    <!-- <button mat-mini-fab  aria-label="Example icon button with a menu icon">
      <mat-icon>person</mat-icon>
    </button> -->


    <app-login-list></app-login-list>
  </div>
</div>
