
<div class="head-container">
    <h1><span class="h1-set-header" routerLink="/advancesettings">Advance Settings  <i class="bi bi-chevron-right"></i> </span>
      <span class="h1-set-header" routerLink="/advancesettings/setupDropDownValues">Setup Dropdown Values <i class="bi bi-chevron-right"></i></span><span>Campaign</span></h1>
  </div>
   
   <div class="row m-4">
    <div class="col-sm-12 col-md-6 col-lg-8 text-end">
            <mat-icon (click)="openAdd()" class="more-inner-icon"> format_list_bulleted_add</mat-icon>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="input-group z-s">
        <input (keyup)="applyFilter($event)" type="text" class="form-control" placeholder="Search Campaign Name">
        <button class="btn btn-outline-secondary" type="button">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>
   </div>
   
   <div *ngIf="dataSource.data.length==0">
    <app-nodata  class="d-flex align-items-center justify-content-center"></app-nodata>
   </div>
  <div class="genericTable" *ngIf="dataSource.data.length>0">
    <table mat-table [dataSource]="dataSource"  matSort>
      <!-- Define User Name column -->
      <ng-container matColumnDef="campaign_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Campaign</th>
        <td mat-cell *matCellDef="let element" class="user-name"(click)="openEdit(element.id)">{{ element.campaign_name }}</td>
      </ng-container>
    
      <!-- Define Email column -->
      <ng-container matColumnDef="is_active">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Active</th>
        <td mat-cell *matCellDef="let element">{{ element.is_active }}</td>
      </ng-container>
    
      <!-- Define Mobile column -->
      <ng-container matColumnDef="is_system_value">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Sysytem value</th>
        <td mat-cell *matCellDef="let element">{{ element.is_system_value }}</td>
      </ng-container>
    
      <!-- Define User Role column -->
      <ng-container matColumnDef="source_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Source</th>
        <td mat-cell *matCellDef="let element">{{ element.source_name }}</td>
      </ng-container>

    

    
  
    
      <!-- Set the column headers -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    
      <!-- Define the table rows -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
  </div>
     
    <!-- Add pagination -->
    <mat-paginator [length]="totalPageLength"  (page)="pageChanged($event)"  [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>

   