h1{
    font-weight: 600;
    line-height: 23px;
    font-size: 20px;
    color:#393939 !important;
}
.head-container{
    padding: 15px 0 10px 0;
    padding-left: 0px;
    border-bottom: 1px solid rgb(216, 216, 216);
    background-color: transparent !important;
}
table {
    width: 100%;
  }
  ::ng-deep .mat-icon {
    overflow: inherit;
}
.more-dropdown{
    width: 191px;
    padding: 20px; 
  }