
<div class="row">
	<div class="col">
		<div ngbDropdown class="d-inline-block">
               <button mat-mini-fab  id="dropdownBasic1" style="width: 50px;height: 50px;" ngbDropdownToggle (click)="openNotification()" aria-label="Example icon button with a menu icon">
                <mat-icon style="color: #989898 !important;font-size: 28px;">person</mat-icon>
                </button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <div class="notify-container">
                    <ul>
                        <li>
                            <div class="text-center notify-popup-title primaryColor" (click)="logOut()"> Log out </div>
                        </li>      
                    </ul>
                </div>
			</div>
		</div>
	</div>
