<mat-card>
  <div class="mat-dialog-header">
    <div>
        <div class="row">
            <div class="col"><h1 mat-dialog-title>Quick Add</h1></div>
            <div class="col-1">
                <mat-icon mat-dialog-close>close</mat-icon>
            </div>
        </div>
    </div>
  </div>
  <mat-dialog-content class="pb-3">
    <div class="quickAdd-container">
      <form [formGroup]="quickAddForm" >
                  <mat-form-field appearance="outline">
                      <mat-label>Student Name</mat-label>
                      <input matInput appFormSpace formControlName="firstName" placeholder="Enter Student Name" required>
                      <mat-error *ngIf="quickAddForm.get('firstName')?.hasError('required')">Student Name Is Required</mat-error>
                    </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput appFormSpace formControlName="email"  placeholder="Enter Email Id">
                    <!-- <mat-error *ngIf="quickAddForm.get('email')?.hasError('required')">Email Is Required</mat-error> -->
                    <mat-error *ngIf="quickAddForm.get('email')?.hasError('pattern')">Invalid Email Format</mat-error>
                  </mat-form-field> 
                  <mat-form-field appearance="outline" >
                      <mat-label>Mobile Number</mat-label>
                      <input matInput appFormSpace type="tel" placeholder="Enter Mobile Number" formControlName="mobile">
                      <mat-error *ngIf="quickAddForm.get('mobile')?.hasError('required')">Mobile Number Is Required</mat-error>
                      <mat-error *ngIf="quickAddForm.get('mobile')?.hasError('pattern')">Please Enter 10-Digits</mat-error>
                    </mat-form-field>
                  <mat-form-field appearance="outline">
                      <mat-label>Source</mat-label>
                      <mat-select formControlName="source" required placeholder="Enter Source">
                        <mat-option *ngFor="let source of sources" [value]="source.id">{{ source.source_name }}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="quickAddForm.get('source')?.hasError('required')">Source Is Required</mat-error>
                      <button mat-icon-button matSuffix 
                      *ngIf="quickAddForm.get('source')?.value" (click)="clearSelectField('source')">
                        <mat-icon>clear</mat-icon>
                      </button>
                    </mat-form-field>
                  <mat-form-field appearance="outline">
                      <mat-label>Stream</mat-label>
                      <mat-select formControlName="course" required>
                        <mat-option *ngFor="let course of streamList" [value]="course.id">{{ course.stream_name }}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="quickAddForm.get('course')?.hasError('required')">Stream Is Required</mat-error>
                      <button mat-icon-button matSuffix *ngIf="quickAddForm.get('course')?.value" 
                      (click)="clearSelectField('course')">
                        <mat-icon>clear</mat-icon>
                      </button>
                    </mat-form-field>
                    <mat-form-field class="mb-1" appearance="outline">
                      <mat-label>Course Looking For</mat-label>
                      <mat-select formControlName="courseLookingfor" placeholder="Select Course" >
                        <mat-option *ngFor="let option of courseOptions" [value]="option.id">{{ option.course_name }}</mat-option>
                      </mat-select>
                      <button
                        matSuffix
                        mat-icon-button
                        aria-label="Clear"
                        (click)="clearSelectField('courseLookingfor')"
                        *ngIf="quickAddForm.get('courseLookingfor')?.value"
                      >
                        <mat-icon>clear</mat-icon>
                      </button>
                    </mat-form-field>
                  <mat-form-field class="mb-1" appearance="outline">
                    <mat-label>Lead Owner</mat-label>
                    <mat-select formControlName="counsellor" placeholder="Select Lead Owner">
                      <mat-option *ngFor="let option of referredTo" [value]="option?.id">{{ option?.first_name }}</mat-option>
                    </mat-select>
                    <button
                      matSuffix
                      mat-icon-button
                      aria-label="Clear"
                      (click)="clearSelectField('counsellor')"
                      *ngIf="quickAddForm.get('counsellor')?.value"
                    >
                      <mat-icon>clear</mat-icon>
                    </button>
                    <mat-error *ngIf="quickAddForm.get('counsellor')?.hasError('required')">Lead Owner Is Required.</mat-error>
                  </mat-form-field>
            </form>
          </div>
      </mat-dialog-content>
      <div mat-dialog-actions class="mb-1">
        <button mat-button mat-dialog-close class="mat-cancel">CLOSE</button>
        <button mat-button type="submit" class="mat-disable" cdkFocusInitial (click)="onSubmit()">SUBMIT</button>
      </div>
    </mat-card>

