<div>
    <div class="row">
        <div class="col"><h1 mat-dialog-title>Reset Password</h1></div>
        <div class="col-1">
            <mat-icon mat-dialog-close>close</mat-icon>
        </div>
    </div>
</div>
<mat-tab-group >
    <mat-tab label="Send Reset Link">
        <div class="row rs-container">
            <div class="col-12">
                Email Id : {{'email'}}
            </div>
            <div class="col-12">
                Mobile No : {{6543253436}}
            </div>
        </div>
        <div class="row rs-container">
            <div class="col-12">
                Please select the communication channel to send new password <b class="mandatory-symbol">*</b>
            </div>
            <form [formGroup]="resetLinkForm">
                <div class="col-4">
                    <mat-checkbox formControlName="email">Email</mat-checkbox>
                </div>
                <div class="col-4">
                    <mat-checkbox formControlName="sms">SMS</mat-checkbox>
                </div>
            </form>
        </div>
        
    </mat-tab>
    <mat-tab label="Set New Password">
         <form [formGroup]="newPassword">
            <div class="row">
                <div class="col-12">
                    <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>New Password</mat-label>
                    <input type="password" matInput placeholder="Ex. San Francisco">
                  </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Confirm Password</mat-label>
                        <input type="password" matInput placeholder="Ex. San Francisco">
                      </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    Please select the communication channel to send new password <b class="mandatory-symbol">*</b>
                </div>
                <div class="col-4">
                    <mat-checkbox formControlName="newPasswordEmail">Email</mat-checkbox>
                </div>
                <div class="col-4">
                    <mat-checkbox formControlName="newPasswordSms">SMS</mat-checkbox>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-checkbox formControlName="mandatoryPassword">Make it mandatory for password change at the next login</mat-checkbox> 
                </div>
            </div>
        </form>
    </mat-tab>
</mat-tab-group>

<div mat-dialog-actions>
    <button mat-button mat-dialog-close class="mat-cancel">CANCEL</button>
    <button mat-button [mat-dialog-close]="data" class="mat-disable" cdkFocusInitial>RESET</button>
</div>