
  <mat-tab-group class="lead-card-tabs">
    <mat-card class="p-0 m-0">
    <mat-tab label="All (30)">
    <app-lead-card-content (deleteEvent)="delete($event)" [leadData]="leadCards" [ngClass]="leadCards.length === 1 ? 'set-custom':''"></app-lead-card-content>
    </mat-tab>
    <mat-tab label="Untouched (24)">
      <app-lead-card-content [leadData]="leadCards"[ngClass]="leadCards.length === 1 ? 'set-custom':''"></app-lead-card-content>
    </mat-tab>
    <mat-tab label="Callback (3)">
      <app-lead-card-content [leadData]="leadCards" [ngClass]="leadCards.length === 1 ? 'set-custom':''"></app-lead-card-content>
    </mat-tab>
    <mat-tab label="Campus Visit (3)">
      <app-lead-card-content [leadData]="leadCards" [ngClass]="leadCards.length === 1 ? 'set-custom':''"></app-lead-card-content>
    </mat-tab>
    <mat-tab label="Enrolled (0)">
      <app-lead-card-content [ngClass]="leadCards.length === 1 ? 'set-custom':''"></app-lead-card-content>
    </mat-tab>
    <mat-tab label="Not Interested (0)">
      <app-lead-card-content [ngClass]="leadCards.length === 1 ? 'set-custom':''"></app-lead-card-content>
    </mat-tab>
    <mat-tab label="Leads Referred (0)">
      <app-lead-card-content [ngClass]="leadCards.length === 1 ? 'set-custom':''"></app-lead-card-content>
    </mat-tab>
    <mat-tab label="Re-enquired (6)">
      <app-lead-card-content [leadData]="leadCards" [ngClass]="leadCards.length === 1 ? 'set-custom':''"></app-lead-card-content>
    </mat-tab>
    <mat-tab label="Online (0)">
      <app-lead-card-content [ngClass]="leadCards.length === 1 ? 'set-custom':''"></app-lead-card-content>
    </mat-tab>
  </mat-card>
  </mat-tab-group>
 
  <button mat-fab aria-label="Example icon button with a menu icon" class="appCoColor add-btn" (click)="openBottomSheet()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-fab aria-label="Example icon button with a menu icon" class="appCoColor upload-btn" (click)="uploadLeads()">
      <mat-icon class="forward-icon">forward</mat-icon>
  </button>
