a {
  text-decoration: none !important;
}


i{
  margin-right: 10px;
  text-shadow: none;
}
.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  height: 31px;
  font-size: 13px;
  color: rgb(102 102 102);
  text-shadow: 0px 0px #6c757d;
  background: none ;
}
.active{
  background: #e4e4e4 !important;
  color:black !important;
}

