<mat-card class="inner-expansion" >
    <!-- <div class="row mb-1">
      <div class="col">
          <div class="row">
              <div class="col-12 pannel-label">
                  Lead Age
              </div>
              <div class="col-12">{{pannelData.channel_name}}</div>
          </div>
      </div>
      <div class="col">
          <div class="row">
              <div class="col-12 pannel-label">Activity Type</div>
              <div class="col-12">-</div>
          </div>
      </div>
      <div class="col">
          <div class="row">
              <div class="col-12 pannel-label">Activity Created By</div>
              <div class="col-12">-</div>
          </div>
      </div>
      <div class="col">
          <div class="row">
              <div class="col-12 pannel-label">Activity Creation Date</div>
              <div class="col-12">-</div>
          </div>
      </div>
    </div>  -->
    <div class="row mb-1">
      <div class="col">
          <div class="row">
              <div class="col-12 pannel-label">Age</div>
              <div class="col-12">{{pannelData.age}}</div>
          </div>
      </div>
      <div class="col">
          <div class="row">
              <div class="col-12 pannel-label">Campaign Name</div>
              <div class="col-12">{{pannelData.campaign_name}}</div>
          </div>
      </div>
      <div class="col">
          <div class="row">
              <div class="col-12 pannel-label">Source</div>
              <div class="col-12">{{pannelData.source_name}}</div>
          </div>
      </div>
      <div class="col">
          <div class="row">
              <div class="col-12 pannel-label">Department</div>
              <div class="col-12">{{pannelData.department_name}}</div>
          </div>
      </div>
    </div> 
    <div class="row mb-1">
      <div class="col">
        <div class="row">
            <div class="col-12 pannel-label">Channel</div>
            <div class="col-12">{{pannelData.channel_name}}</div>
        </div>
      </div>
      <div class="col">
          <div class="row">
              <div class="col-12 pannel-label">Medium</div>
              <div class="col-12">{{pannelData.medium_name}}</div>
          </div>
      </div>
      <div class="col">
          <div class="row">
              <div class="col-12 pannel-label">Lead Creation Date</div>
              <div class="col-12">{{pannelData.created_date_time | date }}</div>
          </div>
      </div>
      <div class="col">
          <div class="row">
              <div class="col-12 pannel-label">Lead Modification Date</div>
              <div class="col-12" *ngIf="!pannelData.updated_date_time">{{'--'}}</div>
              <div class="col-12" *ngIf="pannelData.updated_date_time">{{pannelData.updated_date_time | date}}</div>
          </div>
      </div>
    </div> 
    <!-- <div class="row mb-1">
      <div class="col">
          <div class="row">
              <div class="col-12 pannel-label">Push To ERP Update Date</div>
              <div class="col-12">-</div>
          </div>
      </div>
      <div class="col">
          <div class="row">
              <div class="col-12 pannel-label">Referred To Update Date</div>
              <div class="col-12">Aug 30,2023 5:34 PM</div>
          </div>
      </div>
      <div class="col">
          <div class="row">
              <div class="col-12 pannel-label">Automated Updated Date</div>
              <div class="col-12">-</div>
          </div>
      </div>
      <div class="col">
          <div class="row">
              <div class="col-12 pannel-label">Next Action Date</div>
              <div class="col-12">-</div>
          </div>
      </div>
    </div> 
    <div class="row mb-1">
      <div class="col">
          <div class="row">
              <div class="col-12 pannel-label">Previous Lead Owner</div>
              <div class="col-12">Abhijeeth</div>
          </div>
      </div>
      <div class="col">
          <div class="row">
              <div class="col-12 pannel-label">Lead Owner</div>
              <div class="col-12">Sudip Gupta</div>
          </div>
      </div>
      <div class="col">
          <div class="row">
              <div class="col-12 pannel-label">Last Updated By</div>
              <div class="col-12">-</div>
          </div>
      </div>
      <div class="col">
          <div class="row">
              <div class="col-12 pannel-label">Registration Date</div>
              <div class="col-12">-</div>
          </div>
      </div>
    </div> 
    <div class="row mb-1">
      <div class="col">
          <div class="row">
              <div class="col-12 pannel-label">First Login Date-Time</div>
              <div class="col-12">-</div>
          </div>
      </div>
      <div class="col">
          <div class="row">
              <div class="col-12 pannel-label">Last Active Date-Time</div>
              <div class="col-12">-</div>
          </div>
      </div>
      <div class="col">
          <div class="row">
              <div class="col-12 pannel-label">Activity Type</div>
              <div class="col-12">-</div>
          </div>
      </div>
      <div class="col">
          <div class="row">
              <div class="col-12 pannel-label">Activity Created By</div>
              <div class="col-12">-</div>
          </div>
      </div>
    </div>   -->
  </mat-card> 
