<mat-card class="inner-expansion" >
    
    <div class="row mb-2">
      <div class="col-3">
          <div class="row">
              <div class="col-12 pannel-label">Lead Number</div>
              <div class="col-12">{{pannelData.lead_number || 'NA'}}</div>
          </div>
      </div>
    
      <div class="col-3">
          <div class="row">
              <div class="col-12 pannel-label">Source</div>
              <div class="col-12">{{pannelData.source_name || 'NA'}}</div>
          </div>
      </div>
      <div class="col-3">
        <div class="row text-start">
            <div class="col-12 pannel-label">Lead Status</div>
            <div class="col-12">{{pannelData.lead_list_status_name || 'NA'}}</div>
        </div>
      </div>
      <div class="col">
        <div class="row text-start">
            <div class="col-12 pannel-label">Course Looking For</div>
            <div class="col-12">{{pannelData.course_looking_for_name || 'NA'}}</div>
        </div>
      </div>
    </div> 
    <div class="row mb-2">
        <div class="col-3">
            <div class="row text-start">
                <div class="col-12 pannel-label">Lead Owner</div>
                
                <div class="col-12" >{{pannelData.referred_to_name || 'NA'}}</div>
            </div>
        </div>
      <div class="col-3">
          <div class="row">
              <div class="col-12 pannel-label">Counselled By</div>
              <div class="col-12" >{{pannelData.counselled_by_name || 'NA' }}</div>
          </div>
      </div>
      <div class="col-3">
          <div class="row">
              <div class="col-12 pannel-label">Stream</div>
              <div class="col-12" >{{pannelData.stream_name || 'NA'}}</div>
          </div>
      </div>
      <div class="col-3">
        <div class="row text-start">
            <div class="col-12 pannel-label">Payment Status</div>
            <div class="col-12">{{pannelData.payment_status || 'NA'}}</div>
        </div>
      </div>
    </div> 
    <div class="row mb-2">
        <div class="col-3">
          <div class="row text-start">
              <div class="col-12 pannel-label">Admission Status</div>
              <div class="col-12">{{pannelData.admission_status_name ||'NA'}}</div>
          </div>
        </div>
        <div class="col-3">
            <div class="row text-start">
                <div class="col-12 pannel-label">Document Status</div>
                <div class="col-12">{{pannelData.docs_process_name|| 'NA'}}</div>
            </div>
          </div>
          <div class="col-3">
            <div class="row text-start">
                <div class="col-12 pannel-label">City</div>
                <div class="col-12">{{pannelData.city_name|| 'NA'}}</div>
            </div>
          </div>
          <div class="col-3">
            <div class="row text-start">
                <div class="col-12 pannel-label">Lead Stage</div>
                <div class="col-12">{{pannelData.lead_stage_name|| 'NA'}}</div>
            </div>
          </div>
    </div>
    <div class="row mb-2">
        <div class="col-3">
            <div class="row">
                <div class="col-12 pannel-label">Lead Creation Date</div>
                <div class="col-12" *ngIf="!pannelData.created_date_time">{{'NA'}}</div>
                <div class="col-12" *ngIf="pannelData.created_date_time">{{pannelData.created_date_time | date :'medium'}}</div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <div class="col-12 pannel-label">Lead Modification Date</div>
                <div class="col-12" *ngIf="!pannelData.user_data.updated_date_time">{{'NA'}}</div>
                <div class="col-12" *ngIf="pannelData.user_data.updated_date_time">{{pannelData.user_data.updated_date_time | date :'medium'}}</div>
            </div>
        </div> 
    </div>
  </mat-card> 
