


<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-6">
    <div class="col my-3">
      <h1 mat-dialog-title>Advance Settings Permissions</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3 col-md-3 col-lg-3">
    <label>Dropdown Values </label>
  </div>

  <div class="col-sm-3 col-md-3 col-lg-3">
    <mat-checkbox
      class="example-margin"
      [checked]="allPermissions.dropdown_values"
      [(ngModel)]="allPermissions.dropdown_values"
      disabled
    ></mat-checkbox>
  </div>
</div>

<div class="row">
  <div class="col-sm-3 col-md-3 col-lg-3">
    <label>Status </label>
  </div>

  <div class="col-sm-3 col-md-3 col-lg-3">
    <mat-checkbox
      class="example-margin"
      [checked]="allPermissions.status"
      [(ngModel)]="allPermissions.status"
      disabled
    ></mat-checkbox>
  </div>
</div>
<div class="row">
  <div class="col-sm-3 col-md-3 col-lg-3">
    <label>Sources and Channels </label>
  </div>

  <div class="col-sm-3 col-md-3 col-lg-3">
    <mat-checkbox
      class="example-margin"
      [checked]="allPermissions.sources_and_channels"
      [(ngModel)]="allPermissions.sources_and_channels"
      disabled
    ></mat-checkbox>
  </div>
</div>
<div class="row">
  <div class="col-sm-3 col-md-3 col-lg-3">
    <label>Courses</label>
  </div>

  <div class="col-sm-3 col-md-3 col-lg-3">
    <mat-checkbox
      class="example-margin"
      [checked]="allPermissions.courses"
      [(ngModel)]="allPermissions.courses"
      disabled
    ></mat-checkbox>
  </div>
</div>
<div class="row">
  <div class="col-sm-3 col-md-3 col-lg-3">
    <label>Demographics</label>
  </div>

  <div class="col-sm-3 col-md-3 col-lg-3">
    <mat-checkbox
      class="example-margin"
      [checked]="allPermissions.demographics"
      [(ngModel)]="allPermissions.demographics"
      disabled
    ></mat-checkbox>
  </div>
</div>
<div class="row">
  <div class="col-sm-3 col-md-3 col-lg-3">
    <label>Priorities</label>
  </div>

  <div class="col-sm-3 col-md-3 col-lg-3">
    <mat-checkbox
      class="example-margin"
      [checked]="allPermissions.priorities"
      [(ngModel)]="allPermissions.priorities"
      disabled
    ></mat-checkbox>
  </div>
</div>

<div class="row">
  <div class="col-sm-3 col-md-3 col-lg-3">
    <label>User and Roles</label>
  </div>

  <div class="col-sm-3 col-md-3 col-lg-3">
    <mat-checkbox
      class="example-margin"
      [checked]="allPermissions.user_and_roles"
      [(ngModel)]="allPermissions.user_and_roles"
      disabled
    ></mat-checkbox>
  </div>
</div>
<div class="row">
  <div class="col-sm-3 col-md-3 col-lg-3">
    <label>Advance Communication Settings</label>
  </div>

  <div class="col-sm-3 col-md-3 col-lg-3">
    <mat-checkbox
      class="example-margin"
      [checked]="allPermissions.adv_comm_sett"
      [(ngModel)]="allPermissions.adv_comm_sett"
      disabled
    ></mat-checkbox>
  </div>
</div>
<div class="row">
  <div class="col-sm-3 col-md-3 col-lg-3">
    <label>Whatsapp Template Settings</label>
  </div>

  <div class="col-sm-3 col-md-3 col-lg-3">
    <mat-checkbox
      class="example-margin"
      [checked]="allPermissions.whatsp_temp_sett"
      [(ngModel)]="allPermissions.whatsp_temp_sett"
      disabled
    ></mat-checkbox>
  </div>
</div>
<div class="row">
  <div class="col-sm-3 col-md-3 col-lg-3">
    <label>Email Template Settings</label>
  </div>

  <div class="col-sm-3 col-md-3 col-lg-3">
    <mat-checkbox
      class="example-margin"
      [checked]="allPermissions.email_temp_sett"
      [(ngModel)]="allPermissions.email_temp_sett"
      disabled
    ></mat-checkbox>
  </div>
</div>
<div class="row">
  <div class="col-sm-3 col-md-3 col-lg-3">
    <label>SMS Template Settings</label>
  </div>

  <div class="col-sm-3 col-md-3 col-lg-3">
    <mat-checkbox
      class="example-margin"
      [checked]="allPermissions.sms_temp_sett"
      [(ngModel)]="allPermissions.sms_temp_sett"
      disabled
    ></mat-checkbox>
  </div>
</div>

<div class="row">
  <div class="col-sm-3 col-md-3 col-lg-3">
    <label>User Add</label>
  </div>

  <div class="col-sm-3 col-md-3 col-lg-3">
    <mat-checkbox
      class="example-margin"
      [checked]="allPermissions.user_add"
      [(ngModel)]="allPermissions.user_add"
      disabled
    ></mat-checkbox>
  </div>
</div>
<div class="row">
  <div class="col-sm-3 col-md-3 col-lg-3">
    <label>User Status</label>
  </div>

  <div class="col-sm-3 col-md-3 col-lg-3">
    <mat-checkbox
      class="example-margin"
      [checked]="allPermissions.user_status"
      [(ngModel)]="allPermissions.user_status"
      disabled
    ></mat-checkbox>
  </div>
</div>

<div class="row">
  <div class="col-sm-3 col-md-3 col-lg-3">
    <label>Resume/Pause User</label>
  </div>

  <div class="col-sm-3 col-md-3 col-lg-3">
    <mat-checkbox
      class="example-margin"
      [checked]="allPermissions.res_pause_user"
      [(ngModel)]="allPermissions.res_pause_user"
      disabled
    ></mat-checkbox>
  </div>
</div>

<div class="row">
  <div class="col-sm-3 col-md-3 col-lg-3">
    <label>Replace User</label>
  </div>

  <div class="col-sm-3 col-md-3 col-lg-3">
    <mat-checkbox
      class="example-margin"
      [checked]="allPermissions.repl_user"
      [(ngModel)]="allPermissions.repl_user"
      disabled
    ></mat-checkbox>
  </div>
</div>

<div class="row">
  <div class="col-sm-3 col-md-3 col-lg-3">
    <label>Reset Password</label>
  </div>

  <div class="col-sm-3 col-md-3 col-lg-3">
    <mat-checkbox
      class="example-margin"
      [checked]="allPermissions.reset_pass"
      [(ngModel)]="allPermissions.reset_pass"
      disabled
    ></mat-checkbox>
  </div>
</div>

<div class="row">
  <div class="col-sm-3 col-md-3 col-lg-3">
    <label>Chat Disable/Enable</label>
  </div>

  <div class="col-sm-3 col-md-3 col-lg-3">
    <mat-checkbox
      class="example-margin"
      [checked]="allPermissions.chat_dis_enab"
      [(ngModel)]="allPermissions.chat_dis_enab"
      disabled
    ></mat-checkbox>
  </div>
</div>

<div class="row">
  <div class="col-sm-3 col-md-3 col-lg-3">
    <label>Delete User</label>
  </div>

  <div class="col-sm-3 col-md-3 col-lg-3">
    <mat-checkbox
      class="example-margin"
      [checked]="allPermissions.del_user"
      [(ngModel)]="allPermissions.del_user"
      disabled
    ></mat-checkbox>
  </div>
</div>

<div class="row">
  <div class="col-sm-3 col-md-3 col-lg-3">
    <label>User Permissions</label>
  </div>

  <div class="col-sm-3 col-md-3 col-lg-3">
    <mat-checkbox
      class="example-margin"
      [checked]="allPermissions.user_perm"
      [(ngModel)]="allPermissions.user_perm"
      disabled
    ></mat-checkbox>
  </div>
</div>

<div class="row my-3">
  <div class="col-sm-4 col-md-4 col-lg-5 text-left">
    <button
      (click)="openEdit(allPermissions.id)"
      class="mat-disable"
      mat-button
      cdkFocusInitial
    >
      Edit
    </button>
  </div>
</div>
