<app-nodata class="d-flex align-items-center justify-content-center" *ngIf="!leadData"></app-nodata>
<app-lead-toolbar *ngIf="leadData?.length > 0" (selectedSort)="onChange($event)" [selectedLeads]="selectedCheckboxIds" [checkAll]="checkAll"></app-lead-toolbar>
<mat-checkbox *ngIf="leadData?.length > 0"  (change)="selectAll()" class="ms-4" [checked]="checkAll"><div style="font-size: 12px;" class="ps-3">SELECT ALL</div></mat-checkbox>
<div class="container custom-height-set" *ngIf="leadData?.length > 0">
  <div class="row">
    <div class="col-12" *ngFor="let item of leadData;let i = index">
        <mat-card class="p-1 lead-card-container">
            <div class="row d-flex align-items-center">
              <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="row">
                  <div class="col-2 d-flex align-items-center">
                    <mat-checkbox (change)="onCheckboxChange($event, item.id);" [checked]="checked"></mat-checkbox>
                  </div>
                  <div class="col">
                    <div class="row">
                      <div class="col-12 c-name point-set" (click)="editLead(item)">{{ item.user_data.first_name }} {{ item.user_data.last_name }} <span class="alightColor badge student-badge">{{ item.badgeCount }}</span></div>
                      <!-- <div class="col-12 text-muted">{{ item.user_data.mobile_number }} <i class="bi bi-x-circle-fill stu-close-icon"></i></div> -->
                      <div class="col-12 text-muted">{{ item.user_data.mobile_number }} </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="row status-box">
                  <div class="col-6 top-bar truncate-text">{{ item.lead_list_status_name }}</div>
                  <div class="col-6 top-bar">
                    <span class="erp-box position-rel">ERP 
                      <div class="position-absol">
                        <i class="bi bi-arrow-up"></i>
                      </div>
                    </span>
                  </div>
                  <div class="col-12 text-muted">{{ item.lead_list_substatus_name }}</div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-3 border-r">
                <div class="row">
                  <div class="col p-0 text-center">
                    <i class="bi bi-telephone"></i><span class="ps-1">{{ item.phoneNumber }}</span> 
                  </div>
                  <div class="col p-0 text-center">
                    <i class="bi bi-chat-left"></i><span class="ps-1">{{ item.chatCount }}</span> 
                  </div>
                  <div class="col p-0 text-center">
                    <i class="bi bi-envelope"></i> <span class="ps-1">{{ item.emailCount }}</span> 
                  </div>
                  <div class="col p-0 text-center">
                    <i class="bi bi-chat-left-text"></i><span class="ps-1">{{ item.chatTextCount }}</span> 
                  </div>
                </div>
              </div>
              <!-- <div class="col-sm-12 col-md-6 col-lg-1">
                <div class="row"> -->
                  <!-- <div class="col p-0 text-center position-rel">
                    <i class="bi bi-person" title="Counselor Activities"></i><span class="badge clr-person-1" title="Counselor Activities">{{ item.personCounts[0] }}</span>
                  </div>
                  <div class="col p-0 text-center  position-rel">
                    <i class="bi bi-person" title="Lead Responses"></i><span class="badge clr-person-2" title="Lead Responses">{{ item.personCounts[1] }}</span>
                  </div>
                  <div class="col p-0 text-center  position-rel">
                    <i class="bi bi-person" title="Lead Re-inquired Count"></i><span class="badge clr-person-3" title="Lead Re-inquired Count">{{ item.personCounts[2] }}</span>
                  </div> -->
                  <!-- <div class="col p-0 text-center viewAll m-auto" (click)="openViewAll(item.first_name)">View All</div> -->
                <!-- </div>
              </div> -->
              <div class="col-sm-0 col-md-0 col-lg-1"></div>
              <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="row">
                  <div class="col p-0" (click)="openVideoCall()">
                    <i class="bi bi-camera-video-fill"></i>
                  </div>
                  <div class="col p-0" (click)="openCall(item)">
                    <i class="bi bi-telephone-fill"></i>
                  </div>
                  <div class="col  p-0 position-rel" (click)="openSMS(item)">
                    <i class="bi bi-x-circle-fill msg-close-icon"></i>
                    <i class="bi bi-chat-left-dots-fill"></i>
                  </div>
                  <div class="col  p-0" (click)="openEmailChat(item)">
                    <i class="bi bi-envelope-fill"></i>
                  </div>
                  <div class="col  p-0" (click)="openWhatsAppChat()">
                    <i class="bi bi-whatsapp"></i>
                  </div>
                  <!-- <div class="col  p-0">
                    <i class="bi bi-wechat"></i>
                  </div> -->
               <div class="col  p-0">
                    <div ngbDropdown class="d-inline-block lead-dropdown">
                      <mat-icon class="common-class" id="dropdownBasic1" ngbDropdownToggle (click)="openMorePanel()">more_vert</mat-icon>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <app-leadcard-more [leadName]="item.user_data.first_name" [leadId]="item.id" (deleteEvent)="delete($event)" [item]="item"></app-leadcard-more>
                      </div>
                    </div>
                  </div>
                  <div class="col p-0">
                    <mat-icon class="common-class" *ngIf="expandedCardIndex !== i" (click)="expandCard(i)">expand_more</mat-icon>
                    <mat-icon class="common-class" *ngIf="expandedCardIndex === i" (click)="expandCard(i)">expand_less</mat-icon>
                  </div>                  
                </div>
              </div>
            </div>
            <!-------------EXPANSION PANEL------------------>
            <ng-container *ngIf="expandedCardIndex === i">
              <app-lead-bottom-pannel  [pannelData]="item"></app-lead-bottom-pannel>
            </ng-container>
          </mat-card>
          
    </div>
</div>
</div>



