<app-lead-toolbar></app-lead-toolbar>

<mat-card class="p-1 lead-card-container">
 <div class="row d-flex align-items-center">
    <div class="col-3">
       <div class="row">
        <div class="col-2 d-flex align-items-center">
            <mat-checkbox></mat-checkbox>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-12 c-name">Student <span class="alightColor badge student-badge">16</span></div>
                <div class="col-12 text-muted">2067638819 <i class="bi bi-x-circle-fill stu-close-icon"></i></div>
            </div>
        </div>
       </div> 
    </div>
    <div class="col-1">
        <div class="row status-box">
            
                    <div class="col-6 top-bar truncate-text">1-Untouched</div>
                    <div class="col-6 top-bar">
                        <span class="erp-box position-rel">ERP 
                            <div class="position-absol">
                                <i class="bi bi-arrow-up"></i>
                            </div>
                        </span>
                        
                    </div>
               
            <div class="col-12 text-muted">
                Fresh Lead
            </div>
        </div>
    </div>
    <div class="col-2 border-r">
        <div class="row">
            <div class="col p-0 text-center">
                <i class="bi bi-telephone"></i><span class="ps-1">1</span> 
            </div>
            <div class="col p-0 text-center">
                <i class="bi bi-chat-left"></i><span class="ps-1">1</span> 
            </div>
            <div class="col p-0 text-center">
                <i class="bi bi-envelope"></i> <span class="ps-1">0</span> 
            </div>
            <div class="col p-0 text-center">
                <i class="bi bi-chat-left-text"></i><span class="ps-1">0</span> 
            </div>
        </div>
        
    </div>
    <div class="col-2">
        <div class="row">
            <div class="col p-0 text-center position-rel">
                <i class="bi bi-person"></i><span class="badge clr-person-1">5</span>
            </div>
            <div class="col p-0 text-center  position-rel">
                <i class="bi bi-person"></i><span class="badge clr-person-2">0</span>
            </div>
            <div class="col p-0 text-center  position-rel">
                <i class="bi bi-person"></i><span class="badge clr-person-3">0</span>
            </div>
            <div class="col p-0 text-center viewAll m-auto">View All</div>
        </div>
    </div>
    <div class="col"></div>
    <div class="col-3">
        <div class="row">
            <div class="col p-0">
                <i class="bi bi-camera-video-fill"></i>
            </div>
            <div class="col p-0">
                <i class="bi bi-telephone-fill"></i>
            </div>
            <div class="col  p-0 position-rel">
                <i class="bi bi-x-circle-fill msg-close-icon"></i>
                <i class="bi bi-chat-left-dots-fill"></i>
                
            </div>
            <div class="col  p-0">
                <i class="bi bi-envelope-fill"></i>
            </div>
            <div class="col  p-0">
                <i class="bi bi-whatsapp"></i>
            </div>
            <div class="col  p-0">
                <i class="bi bi-wechat"></i>
            </div>
            <div class="col  p-0">
                <div ngbDropdown class="d-inline-block lead-dropdown">
                    <mat-icon class="common-class" id="dropdownBasic1" ngbDropdownToggle (click)="openNotification()">more_vert</mat-icon>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                     gdssgs
                    </div>
                </div>
                
            </div>
            <div class="col  p-0">
                <mat-icon class="common-class" *ngIf="!expandPanel"(click)="expandPanel=!expandPanel">expand_more</mat-icon>
                <mat-icon class="common-class" *ngIf="expandPanel" (click)="expandPanel=!expandPanel">expand_less</mat-icon>
            </div>
        </div>
    </div>   
 </div>
 <!-------------EXPANSION PANNAL------------------>
 <ng-container *ngIf="expandPanel">
    <app-lead-bottom-pannel></app-lead-bottom-pannel>
 </ng-container>
 
</mat-card>




<div class="row">
	<div class="col">
		
	</div>