
<div class="row">
	<div class="col">
		<div ngbDropdown class="d-inline-block">
            <mat-icon matBadge="15" title="Missed Follow-ups" matBadgeColor="warn" id="dropdownBasic1" ngbDropdownToggle (click)="openNotification()">notifications_none</mat-icon>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <div class="notify-container">
                    <div class="text-center notify-popup-title" >Missed Follow-ups  <b class="custom-badge">15</b></div>
                    <ul>
                        <li>
                            <a href="#" title="Click to Change Status">
                                <u>Jyotsna:</u>
                            </a>
                                <label title="Appointment - Set From Chatbot" class="activityType-label">Appointment - Set From Chatbot</label>
                            </li>
                            <li>
                                <label title="Click to Postpone the Activity" class="time-label">Jul 20, 2023 10:57 AM<label class="dot-label"></label>
                                - <label>47 days ago</label>
                            </label>
                        </li>
                    </ul>
                </div>
				
			</div>
		</div>
	</div>
</div>