ul,li{
    text-decoration: none;
    list-style: none;
    line-height: 21px;
    text-align: center;
    padding: 0;
    margin: 2px;
}
.time-label:hover{
    text-decoration: underline;
}
ul{
    border-bottom: 1px solid #f6f6f6;
}

  .custom-badge{
    color:white;
    border-radius: 50%;
    background-color:red;
    font-size: 12px;
    padding:3px;
  }
  .notify-popup-title{
    background-color: #f3f3f3;
    font-size: small;
  }
  .notify-container{
    font-size:11px;
    padding: 10px;
    color:gray;
  }