

<ng-container>
    
    <mat-card class="p-0 m-0">
      <div class="add-users mat-dialog-header">
        <div class="row">
            <div class="col"><h1 mat-dialog-title>Upload Leads</h1></div>
            <div class="col-1 close-icon">
              <mat-icon (click)="closePopup()">close</mat-icon>
          </div>
        </div>
      </div>
        <mat-dialog-content class="mat-typography mx-2">
          <form [formGroup]="uploadLeadForm"  >
         <div class="container">
          <ng-container>
          <b>Step 1 - Select Channel,Lead Owner,Referred To Details.</b>
          <mat-form-field class="mb-1" appearance="outline">
            <mat-label>Select Channel</mat-label>
            <mat-select placeholder="Select Channel"  formControlName="channel_id">
              <mat-option *ngFor="let channels of channelList" [value]="channels.id">{{channels.channel_name}}</mat-option> 
            </mat-select>
            <button
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="clearSelectField('channel_id')"
              *ngIf="f['channel_id']?.value"
            >
              <mat-icon>clear</mat-icon>
            </button>
            <mat-error *ngIf="f['channel_id']?.hasError('required')">Channel Is Required</mat-error>
          </mat-form-field>
          
          <mat-form-field class="mb-1" appearance="outline">
            <mat-label>Select Source</mat-label>
            <mat-select placeholder="Select Source" formControlName="source">
              <mat-option *ngFor="let sources of sourceList" [value]="sources.id">{{sources.source_name}}</mat-option> 
            </mat-select>
            <button
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="clearSelectField('source')"
              *ngIf="f['source']?.value"
            >
              <mat-icon>clear</mat-icon>
            </button>
          </mat-form-field>
        

          <mat-form-field class="mb-1" appearance="outline">
            <mat-label>Select Priority</mat-label>
            <mat-select placeholder="Select Priority" formControlName="priority">
              <mat-option *ngFor="let prioritys of priorityList" [value]="prioritys.id">{{prioritys.name}}</mat-option> 
            </mat-select>
            <button
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="clearSelectField('priority')"
              *ngIf="f['priority']?.value"
            >
              <mat-icon>clear</mat-icon>
            </button>
          </mat-form-field>
       
          <mat-form-field class="mb-1" appearance="outline">
            <mat-label>Select Status</mat-label>
            <mat-select placeholder="Select Status" formControlName="status">
              <mat-option *ngFor="let status of statusList" [value]="status.id">{{status.name}}</mat-option> 
            </mat-select>
            <button
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="clearSelectField('status')"
              *ngIf="f['status']?.value"
            >
              <mat-icon>clear</mat-icon>
            </button>
          </mat-form-field>
        
          <mat-form-field class="mb-1" appearance="outline">
            <mat-label>Select Lead Owner</mat-label>
            <mat-select placeholder="Select Lead Owner" formControlName="leadOwner">
              <mat-option *ngFor="let leadOwner of leadOwnerList" [value]="leadOwner.id">{{leadOwner.name}}</mat-option> 
            </mat-select>
            <button
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="clearSelectField('leadOwner')"
              *ngIf="f['leadOwner']?.value"
            >
              <mat-icon>clear</mat-icon>
            </button>
            <mat-error *ngIf="f['leadOwner'].hasError('required')">Lead Owner Is Required</mat-error>
          </mat-form-field>
         
         

          <mat-form-field class="mb-1" appearance="outline">
            <mat-label>Select Referred To</mat-label>
            <mat-select placeholder="Select Referred To" formControlName="referedTo">
              <mat-option *ngFor="let referedTo of referedToList" [value]="referedTo.id">{{referedTo.name}}</mat-option> 
            </mat-select>
            <button
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="clearSelectField('referedTo')"
              *ngIf="f['referedTo']?.value"
            >
              <mat-icon>clear</mat-icon>
            </button>
            <mat-error *ngIf="f['referedTo'].hasError('required')">Referred To Is Required</mat-error>
          </mat-form-field>
     
        </ng-container>
        <ng-container>
          <b>Step-2 Select Department,Course And Location Details</b>
         
          <mat-form-field class="mb-1" appearance="outline">
            <mat-label>Select Department</mat-label>
            <mat-select placeholder="Select Department" formControlName="department">
              <mat-option *ngFor="let department of departmentList" [value]="department.id">{{department.name}}</mat-option> 
            </mat-select>
            <button
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="clearSelectField('department')"
              *ngIf="f['department']?.value"
            >
              <mat-icon>clear</mat-icon>
            </button>

          </mat-form-field>

            
          <mat-form-field class="mb-1" appearance="outline">
            <mat-label>Select Course</mat-label>
            <mat-select placeholder="Select Course" formControlName="course">
              <mat-option *ngFor="let course of courseList" [value]="course.id">{{course.course_name}}</mat-option> 
            </mat-select>
            <button
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="clearSelectField('course')"
              *ngIf="f['course']?.value"
            >
              <mat-icon>clear</mat-icon>
            </button>
          
          </mat-form-field>

          <mat-form-field class="mb-1" appearance="outline">
            <mat-label>Select Country</mat-label>
            <mat-select placeholder="Select Country" formControlName="country">
              <mat-option *ngFor="let country of countryList" [value]="country.id">{{country.name}}</mat-option> 
            </mat-select>
            <button
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="clearSelectField('country')"
              *ngIf="f['country']?.value"
            >
              <mat-icon>clear</mat-icon>
            </button>
          
          </mat-form-field>

          <mat-form-field class="mb-1" appearance="outline">
            <mat-label>Select State</mat-label>
            <mat-select placeholder="Select State" formControlName="state">
              <mat-option *ngFor="let state of stateList" [value]="state.id">{{state.name}}</mat-option> 
            </mat-select>
            <button
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="clearSelectField('state')"
              *ngIf="f['state']?.value"
            >
              <mat-icon>clear</mat-icon>
            </button>
         
          </mat-form-field>
          <div class="mb-2">
            <mat-checkbox formControlName="welcomeEmail">Send Welcome Email</mat-checkbox>
          </div>
         <div class="mb-2">
          <mat-checkbox formControlName="welcomeSms">Send Welcome SMS</mat-checkbox>
         </div>
         
        </ng-container>
        <ng-container>
          <b class="mt-1">Step 3 - Upload File With Prospect Candidate Details <b class="mandatory-symbol">*</b></b>
        
          <!-- <mat-form-field class="my-2"> -->
            <!-- <mat-label *ngIf="selectedFiles; else newFile">{{selectedFiles.item(0).name}}</mat-label> -->
            <!-- <ng-template #newFile >
                <mat-label>Choose file</mat-label>
            </ng-template> -->
            <!-- <input matInput appFormSpace disabled> -->
            <!-- <button mat-icon-button matSuffix (click)="fileInput.click()">
              <mat-icon class="forward-icon">forward</mat-icon>
            </button> -->
            <!-- <input  (change)="selectFile($event)"  type="file" id="file" >
            -->
            <input type="file" (change)="onFileSelected($event)" formControlName="leadUpload" #inputEl/>
            <div *ngIf="f['leadUpload'].invalid && f['leadUpload'].touched">
              <mat-error *ngIf="f['leadUpload'].hasError('required')">Lead Upload Is Required</mat-error>
            </div>
          <!-- </mat-form-field> -->
        </ng-container>
         
        </div>
      </form>
      
        </mat-dialog-content>
     
      <mat-dialog-actions class="d-flex">
        <button class="mat-cancel m-1" mat-button (click)="closePopup()">CANCEL</button>
        <button class="mat-disable m-1" mat-button  cdkFocusInitial (click)="onSubmit()">UPLOAD</button>
      </mat-dialog-actions>
    </mat-card>
   
  </ng-container>
  
  