<ng-container>
    <mat-card class="p-0 m-0">
      <div class="add-users mat-dialog-header">
        <div class="row">
            <div class="col"><h1 mat-dialog-title>Payment Status</h1></div>
            <div class="col-1 close-icon">
              <mat-icon (click)="closePopup()">close</mat-icon>
          </div>
        </div>
      </div>
        <mat-dialog-content class="mat-typography mx-0 my-2">
        
      <mat-stepper orientation="vertical"  #stepper [selectedIndex]="selectedIndex" (selectionChange)="onChangeStep($event)">
        <mat-step [stepControl]="firstFormGroup"   [editable]="editable1" >
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel >Pending</ng-template>
           
            <p class="mt-3">Send A Link To The Lead</p>
            <div>
              <button mat-button class="payment-btn" (click)="sendLink()">Send Link</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup"  [editable]="editable2" >
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Inprogress</ng-template>

            <p class="mt-3">Payment Inprogress</p>
           
            <div class="row">
              <div class="col-6">
                <button mat-button class="payment-btn " (click)="sendLink()">Send Link Again</button>
              </div>
              <div class="col-6">
                <button mat-button matStepperNext class="mat-cancel m-cus" (click)="saveAndNext()">Save & Next</button>
              </div>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup"  [editable]="editable3" >
            <form [formGroup]="thirdFormGroup">
              <ng-template matStepLabel>Completed</ng-template>
              
              <p class="mb-0">Payment Mode <b class="mandatory-symbol">*</b></p>
              <mat-form-field class="m-0" appearance="outline">
                  <mat-label>Payment Mode</mat-label>
                  <mat-select formControlName="paymentMode" placeholder="Select The Payment Mode">
                    <mat-option *ngFor="let pay of payType" [value]="pay">{{ pay }}</mat-option>
                  </mat-select>
                  <button
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="clearSelectField('paymentMode')"
                    *ngIf="f['paymentMode']?.value"
                  >
                    <mat-icon>clear</mat-icon>
                  </button>
                  <mat-error *ngIf="f['paymentMode'].hasError('required')">
                      Payment Mode Is Required.
                    </mat-error>
                </mat-form-field>
               
                <mat-form-field class="mb-1" appearance="outline">
                  <mat-label>Admission Status</mat-label>
                  <mat-select formControlName="admission" placeholder="Select Admission Status">
                    <mat-option *ngFor="let option of admissionStatus" [value]="option.id">{{ option.status }}</mat-option>
                  </mat-select>
                  <button matSuffix mat-icon-button aria-label="Clear" (click)="clearSelectField('admission')" *ngIf="f['admission'].value">
                    <mat-icon>clear</mat-icon>
                  </button>
                 
                    <mat-error class="er-fs" *ngIf="f['admission'].hasError('required')">Admission Status Is Required</mat-error>
                    
                </mat-form-field>
                
                  <div class="img-container" *ngIf="selectedImage || f['uploadProof'].value">
                    <img [src]="f['uploadProof'].value"  class="uploaded-image" />
                    <button mat-mini-fab class="mat-fab-cus" *ngIf="selectedImage && f['uploadProof'].invalid"  (click)="downloadImage()">
                      <mat-icon class="forward">forward</mat-icon>
                    </button>
                    <a mat-mini-fab [href]="f['uploadProof'].value" *ngIf="selectedImage && f['uploadProof'].invalid" target="_blank" class="mat-fab-cus mx-2"  aria-label="">
                      <mat-icon class="eye-1">visibility</mat-icon>
                    </a>
                  </div>
                
                <ng-container>
               
                   <p class="mt-1">Upload Payment Proof <b class="mandatory-symbol">*</b></p>
                  <!--  <input type="file" accept=".jpg, .jpeg, .png" class="mb-3" (change)="onFileSelected($event)" formControlName="uploadProof" #inputEl/>
                    <div *ngIf="f['uploadProof'].invalid && f['uploadProof'].touched">
                      <mat-error class="er-fs" *ngIf="f['uploadProof'].hasError('required')">Payment Proof Is Required</mat-error>
                    </div>      -->
                    <input type="file"  *ngIf="!type" accept=".jpg, .jpeg, .png, .pdf" (change)="onFileSelected($event)" formControlName="uploadProof" #inputEl />
                    <div *ngIf="f['uploadProof'].invalid && f['uploadProof'].touched">
                      <mat-error class="er-fs" *ngIf="f['uploadProof'].hasError('required')">Payment Proof Is Required</mat-error>
                    </div>
                    <mat-form-field appearance="outline" class="mb-1"  *ngIf="type">
                      <mat-label>Select an image</mat-label>
                      <input
                        matInput
                        type="text"
                        placeholder="Select an image"
                        formControlName="uploadProof"
                        (click)="changeType();type=!type"
                       
                      />
                      
                    </mat-form-field>
                </ng-container>
               
          

               
            </form>
        </mat-step>
      </mat-stepper>

     
        </mat-dialog-content>
     
      <mat-dialog-actions class="d-flex justify-content-center">
        <button class="mat-cancel m-1" mat-button (click)="closePopup()">CANCEL</button>
        <!-- <button class="mat-disable m-1" mat-button (click)="onSubmit()" cdkFocusInitial>SUBMIT</button> -->
      
        <button mat-button class="mat-disable m-1" *ngIf="selectedIndex == 2 || selectedTab" (click)="onSubmit()">Done</button>
     
      </mat-dialog-actions>
    </mat-card>
     
  </ng-container>
