
<form >
    <div class="mat-dialog-header">
        <div class="row">
            <div class="col"><h1 mat-dialog-title>Delete</h1></div>
            <div class="col-1 close-icon">
                <mat-icon mat-dialog-close>close</mat-icon>
            </div>
        </div>
      </div>
      <div class="container">
        <mat-dialog-content class="mat-typography">
          <div class="row">
            <div class="col-12 col-md-12">
                <p>Are you sure you want to delete?</p>
            </div>
        </div>        
        </mat-dialog-content>
      </div>
    <mat-dialog-actions align="end">
      <button class="mat-cancel" mat-button mat-dialog-close>CANCEL</button>
      <button class="mat-disable" mat-button (click)="delete()" cdkFocusInitial>YES</button>
    </mat-dialog-actions>
    
    
</form>