<div class="container-fluid"  ngxUiLoaderBlurred >
    <div class="row h-100">
        <div class="col-sm-0 col-md-6 col-lg-6 carousal-col">
            <ngb-carousel
            #carousel
            [interval]="3000"
            [showNavigationArrows]="false"
            (slide)="onSlide($event)"
            class="img-carousel"
         >
            <ng-template ngbSlide *ngFor="let img of myImages; index as i" >
                <div class="carousel-caption">
                </div>
                <a  target="_blank" rel="nofollow noopener noreferrer">
                    <div class="picsum-img-wrapper">
                        <img [src]="img" alt="" />
                    </div>
                </a>
            </ng-template>
        </ngb-carousel>
        
        <hr />
        </div>
        <div class="col-sm-12 col-md-6 col-6 m-auto">
            <div class="container">
                <!-- <div class="row">
                    <div class="col-12"> -->
                            <mat-card class="formContainer">
                             <div class="d-flex align-items-center">
                                <img src="../../../assets/images/logo.png" width="200"  class="logo-tag"/>
                             </div>
                             <div class="inner-container ">
                                <div class="row ">
                                    <div class="col-12 text-center my-2">
                                        <h4 class="">RESET PASSWORD</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 text-center my-2" style="font-size: 12px;">
                                        <div>Please enter new password and reset.</div>
                                    </div>
                                </div>
                               <form [formGroup]="forgotForm">
                                <div class="row">
                                    <div class="col-12 mb-5">
                                        <mat-form-field appearance="outline">
                                            <mat-label>New Password</mat-label>
                                            <input type="password" matInput placeholder="Enter Your password" formControlName="new_password" required>
                                            <mat-error *ngIf="f['new_password'].invalid && f['new_password'].touched">
                                                <div *ngIf="f['new_password'].errors && f['new_password'].errors['required']">
                                                    New Password Is Required
                                                </div>
                                                <div *ngIf="f['new_password'].errors && f['new_password'].errors['new_password']">
                                                    Invalid  New Password
                                                </div>

                                                <div *ngIf="f['new_password'].errors?.['strongPassword']">
                                                    Password must be at least 8 characters long and contain at least one uppercase letter, one lowercase letter, one number, and one special character.
                                                  </div>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>    
                                    <div class="col-12 mb-5">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Confirm New Password</mat-label>
                                            <input type="password" matInput placeholder="Enter Your password" formControlName="confirm_password" required>
                                            <mat-error *ngIf="f['confirm_password'].invalid && f['confirm_password'].touched">
                                                <div *ngIf="f['confirm_password'].errors && f['confirm_password'].errors['required']">
                                                   Confirm New Password Is Required
                                                </div>
                                                <div *ngIf="f['confirm_password'].errors && f['confirm_password'].errors['confirm_password']">
                                                    Invalid Confirm New Password
                                                </div>

                                                
                                            </mat-error>
                                            
                                     
                                        </mat-form-field>
                                    </div>        
                                </div>
                                <!-- <div class="row">
                                     
                                </div> -->
                                
                                <div class="col-12 my-4">
                                    <mat-error *ngIf="this.forgotForm.get('new_password')?.value !== this.forgotForm.get('confirm_password')?.value" >
                                        <div style="color: red;">
                                           Confirm Password must match new password
                                        </div>
                                    </mat-error>

                                </div>
                                <div class="col-12 my-4">
                                    <button mat-button class="appCoColor" (click)="submit()">SUBMIT</button>
                                </div>
                                  <div class="row">
                                    <div class="col-12">
                                        <div>
                                            Already have an account?<b class="primaryColor pointer-set" routerLink="/login" >Log In</b>
                                        </div>
                                    </div>
                                  </div>
                               </form>    
                             </div>
                        </mat-card>
                    <!-- </div>
                </div> -->
            </div>
           
        </div>
    </div>
  
</div>

