 .mat-toolbar.mat-primary {
    background: #484848;
  } 
mat-icon{
  color: white;
}
.img-container{
  height:110px !important;
  width: 20%;
  zoom:85%;
  background-image: url(../../assets/images/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;

}
mat-card{
  box-shadow: none !important;
  margin: 0;
  padding: 0;
}
