 .mat-toolbar.mat-primary {
    background: #484848;
  } 
mat-icon{
  color: white;
}
.img-container{
  width: 17%;
  height: 100% !important;
  background-image: url(../../assets/images/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

mat-card{
  box-shadow: none !important;
  margin: 0;
  padding: 0;
}
.mat-toolbar-row, .mat-toolbar-single-row {
  padding: 0 16px 0 0 !important;
}
@media (max-width: 768px) {
  .img-container{
    width: 35% !important;
  }
}