<div class="container">
    <div class="row mt-2">
        <div class="col-12 col-md-12">
            <h6 class="settings-title">Status</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row my-1" routerLink="../status">
                    <div class="col-md-11"><mat-card-content>Status Name</mat-card-content></div>
                        <div class="col-md-1 col-1"><i class="bi bi-chevron-right"></i></div>
                    </div>
                    <hr>
                    <div class="row my-1" routerLink="../subStatus">
                        <div class="col-md-11"> <mat-card-content class="settings-title">Sub-Status</mat-card-content></div>
                        <div class="col-md-1 col-1"><i class="bi bi-chevron-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 col-md-12">
            <h6 class="settings-title">Sources and Channel</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row my-1" routerLink="../channel">
                    <div class="col-md-11"><mat-card-content>Channel</mat-card-content></div>
                        <div class="col-md-1 col-1"><i class="bi bi-chevron-right"></i></div>
                    </div>
                    <hr>
                    <div class="row my-1">
                        <div class="col-md-11"> <mat-card-content class="settings-title">Source</mat-card-content></div>
                        <div class="col-md-1 col-1"><i class="bi bi-chevron-right"></i></div>
                    </div>
                    <hr>
                    <div class="row my-1">
                        <div class="col-md-11"> <mat-card-content class="settings-title">New Channel</mat-card-content></div>
                        <div class="col-md-1 col-1"><i class="bi bi-chevron-right"></i></div>
                    </div>
                    <hr>
                    <div class="row my-1">
                        <div class="col-md-11"> <mat-card-content class="settings-title">Campaign</mat-card-content></div>
                        <div class="col-md-1 col-1"><i class="bi bi-chevron-right"></i></div>
                    </div>
                    <hr>
                    <div class="row my-1">
                        <div class="col-md-11"> <mat-card-content class="settings-title">Medium</mat-card-content></div>
                        <div class="col-md-1 col-1"><i class="bi bi-chevron-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 col-md-12">
            <h6 class="settings-title">Coureses</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row my-1">
                    <div class="col-md-11"><mat-card-content>Level of Program</mat-card-content></div>
                        <div class="col-md-1 col-1"><i class="bi bi-chevron-right"></i></div>
                    </div>
                    <hr>
                    <div class="row my-1">
                        <div class="col-md-11"> <mat-card-content class="settings-title">Department</mat-card-content></div>
                        <div class="col-md-1 col-1"><i class="bi bi-chevron-right"></i></div>
                    </div>
                    <hr>
                    <div class="row my-1">
                        <div class="col-md-11"> <mat-card-content class="settings-title">Course</mat-card-content></div>
                        <div class="col-md-1 col-1"><i class="bi bi-chevron-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 col-md-12">
            <h6 class="settings-title">Demographics</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row my-1">
                    <div class="col-md-11"><mat-card-content>Country Id</mat-card-content></div>
                        <div class="col-md-1 col-1"><i class="bi bi-chevron-right"></i></div>
                    </div>
                    <hr>
                    <div class="row my-1">
                        <div class="col-md-11"> <mat-card-content class="settings-title">State</mat-card-content></div>
                        <div class="col-md-1 col-1"><i class="bi bi-chevron-right"></i></div>
                    </div>
                    <hr>
                    <div class="row my-1">
                        <div class="col-md-11"> <mat-card-content class="settings-title">City Name</mat-card-content></div>
                        <div class="col-md-1 col-1"><i class="bi bi-chevron-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 col-md-12">
            <h6 class="settings-title">Priorities</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row my-1">
                    <div class="col-md-11"><mat-card-content>Priorities Name</mat-card-content></div>
                        <div class="col-md-1 col-1"><i class="bi bi-chevron-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>