h1{
    font-weight: 600;
    line-height: 23px;
    font-size: 20px;
    color:#393939 !important;
}

.settings-title{
    color: #474747 !important;
    font-size: 16px;
    font-weight: 500;
    margin: 12px 5px;
}
.col-rgt{
    border-right: 1px solid rgb(189, 189, 189);
    padding-right: 10px;
}
.bi-chevron-right{
    color: gray;
}
mat-card{
    height: 56px;
    zoom:90%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 1px, rgba(0, 0, 0, 0.04) 3px 0px 5px 1px !important;
}
mat-card:hover{
    background: #f6f6f6;
    cursor: pointer;
}
 .main-container{
    box-shadow: none !important;
    margin: 0 10px !important;
}
