<mat-tab-group class="lead-card-tabs">
    <mat-card class="p-0 m-0">
    <mat-tab label="Advance Settings">
    <!-- <app-my-followup-card-content [leadData]="leadCards" [ngClass]="leadCards.length === 1 ? 'set-custom':''"></app-my-followup-card-content> -->
    </mat-tab>
    <mat-tab label="Lead List">
      <!-- <app-my-followup-card-content [leadData]="leadCards"[ngClass]="leadCards.length === 1 ? 'set-custom':''"></app-my-followup-card-content> -->
    </mat-tab>
    <!-- <mat-tab label="Add Followup(3)">
      <app-my-followup-card-content [leadData]="leadCards" [ngClass]="leadCards.length === 1 ? 'set-custom':''"></app-my-followup-card-content>
    </mat-tab>
    <mat-tab label="Payment Details(3)">
      <app-my-followup-card-content [leadData]="leadCards" [ngClass]="leadCards.length === 1 ? 'set-custom':''"></app-my-followup-card-content>
    </mat-tab> -->
  </mat-card>
  </mat-tab-group>