<mat-card>
    <div class="mat-dialog-header">
      <div class="row">
          <div class="col"><h1 mat-dialog-title>Pause User</h1></div>
          <div class="col-1 close-icon">
              <mat-icon mat-dialog-close>close</mat-icon>
          </div>
      </div>
  </div>
  
  <div mat-dialog-content class="disable-user">
    <p class="pt-3">Do you want to Pause this user?</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close class="mat-cancel">CANCEL</button>
    <button mat-button (click)="submit(true)" class="mat-disable" cdkFocusInitial>PAUSE</button>
  </div>
  </mat-card>
  
  