
<form [formGroup]="addForm">
    <div class="mat-dialog-header">
        <div class="row">
            <div class="col"><h1 mat-dialog-title>Add Channel</h1></div>
            <div class="col-1 close-icon">
                <mat-icon mat-dialog-close>close</mat-icon>
            </div>
        </div>
      </div>
      <div class="container">
        <mat-dialog-content class="mat-typography">
            <div class="row">
                <div class="col-12 col-md-12">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Channel</mat-label>
                        <input formControlName="channel_name" type="text" matInput placeholder="Channel Name">
                      </mat-form-field>
                      <mat-error *ngIf="f['channel_name'].invalid && f['channel_name'].touched">
                        <div *ngIf="f['channel_name'].errors && f['channel_name'].errors['required']">
                             Channel Name Is Required
                        </div>
                    </mat-error>
                </div>
            </div>

        
        </mat-dialog-content>
      </div>
    <mat-dialog-actions align="end">
      <button class="mat-cancel" mat-button mat-dialog-close>CANCEL</button>
      <button class="mat-disable" mat-button (click)="submit()"  cdkFocusInitial>ADD</button>
    </mat-dialog-actions>
    
    
</form>