<div class="container-fluid">
    
    <mat-tab-group class="lead-card-tabs">
        <mat-card class="p-0 m-0">
        <mat-tab label="Email Templates">
            <app-email-templates></app-email-templates>
        </mat-tab>
        <mat-tab label="SMS Templates">
          <app-sms-templates></app-sms-templates>
        </mat-tab>
        <mat-tab label="WhatsApp Templates">
          <app-whatsapp-templates></app-whatsapp-templates>
        </mat-tab>
        <mat-tab label="Lead Score">
         
        </mat-tab>
        <mat-tab label="Shortcut Messages">
         <app-shortcut-messages></app-shortcut-messages>
        </mat-tab>
        <mat-tab label="Assignment Rule">
         <app-assignment-rule></app-assignment-rule>
        </mat-tab>
        <mat-tab label="Slot Booking">
         <app-slot-booking></app-slot-booking>
        </mat-tab>
        <mat-tab label="Coupon Codes">
         <app-coupon-codes></app-coupon-codes>
        </mat-tab>
      </mat-card>
      </mat-tab-group>
    
    </div>