
<div class="head-container">
    <h1><span class="h1-set-header" routerLink="/advancesettings">Advance Settings  <i class="bi bi-chevron-right"></i> </span>
      <span>User Profiles</span></h1>
  </div>
   
   <div class="row m-4">
    <div class="col-sm-12 col-md-6 col-lg-8 text-end">
      

      <span class="filter-container" *ngIf="role==='Admin' || role==='SuperAdmin'">
        <i data-bs-toggle="tooltip" *ngIf="params===null" class="bi bi-funnel" (click)="openFilter()" title="Filter"></i>

        <i  data-bs-toggle="tooltip"  title="Filter" *ngIf="params!=null" class="bi bi-funnel-fill" (click)="openFilter()"></i>
      </span>
      
     
      <i  data-bs-toggle="tooltip"  title="Add New User" (click)="openAddUser()" class="bi bi-person-plus-fill" *ngIf="role==='Admin' || role==='SuperAdmin'"></i>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="input-group z-s"  *ngIf="role==='Admin' || role==='SuperAdmin'">
        <input (input)="applyFilter($event)" type="search"  class="form-control" placeholder="Search by Name/Mobile/Email" [(ngModel)]="searchValue">
        <button (click)="search()" class="btn btn-outline-secondary" type="button">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>
   </div>
   <div *ngIf="dataSource.data.length==0">
    <app-nodata  class="d-flex align-items-center justify-content-center"></app-nodata>
   </div>
  <div class="genericTable" *ngIf="dataSource.data.length>0">
    <table mat-table [dataSource]="dataSource"  matSort>
       <!-- Define user id column -->
       <ng-container matColumnDef="id"  >
        <th mat-header-cell *matHeaderCellDef >Id</th>
        <td mat-cell *matCellDef="let element" 
        [ngClass]="element?.user_management[0]?.pause?'red':'green'">{{ element.id }} </td>
      </ng-container>

      <!-- Define User Name column -->
      <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef >User Name</th>

        <td mat-cell *matCellDef="let element" class="user-name"  (click)="editUserProfile(element)"  [ngClass]="[element?.user_management[0]?.pause?'red':'green',(role==='Admin' && userId==element.id)|| role==='counsellor' ? 'removeCursor':'']">{{ element.first_name | titlecase }}  {{element.last_name}}</td>
      </ng-container>
    
      <!-- Define Email column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef >Email</th>
        <td mat-cell *matCellDef="let element"  [ngClass]="element?.user_management[0]?.pause?'red':'green'">{{ element.email }}</td>
      </ng-container>
    
      <!-- Define Mobile column -->
      <ng-container matColumnDef="mobile_number">
        <th mat-header-cell *matHeaderCellDef >Mobile</th>
        <td mat-cell *matCellDef="let element"  [ngClass]="element?.user_management[0]?.pause?'red':'green'">{{ element.mobile_number }}</td>
      </ng-container>
    
      <!-- Define User Role column -->
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef >User Role</th>
        <td mat-cell *matCellDef="let element"  [ngClass]="element?.user_management[0]?.pause?'red':'green'">{{ element.role_name }}</td>
      </ng-container>
    
      <!-- Define Designation column -->
      <ng-container matColumnDef="designation_id">
        <th mat-header-cell *matHeaderCellDef >Designation</th>
        <td mat-cell *matCellDef="let element"  [ngClass]="element?.user_management[0]?.pause?'red':'green'">{{ element.designation_name }}</td>
      </ng-container>
    
      <!-- Define Reporting To column -->
      <ng-container matColumnDef="reporting_to_ids">
        <th mat-header-cell *matHeaderCellDef >Reporting To</th>
        <td mat-cell *matCellDef="let element"    [ngClass]="element?.user_management[0]?.pause?'red':'green'">
          <div  *ngFor="let item of element.reporting_to_ids">
            {{item.name}}
          </div>
        </td>
      </ng-container>
    
      <!-- Define User Status column -->
      <ng-container matColumnDef="is_allow_for_app"  *ngIf="role=='Admin'||role=='SuperAdmin'" >
        <th mat-header-cell *matHeaderCellDef>User Status</th>
        <td mat-cell  *matCellDef="let element"  [ngClass]="element?.user_management[0]?.pause?'red':'green'"><mat-slide-toggle data-bs-toggle="tooltip"  title="User Status" *ngIf="element?.is_superuser==false" (change)="onSlideToggleChange(element?.id,$event)" [(ngModel)]="!element.user_management[0].deactive" class="z-s"></mat-slide-toggle>
        
          </td>
       
      </ng-container>

      
    
      <!-- Define Action column -->
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
        <div ngbDropdown #myDropdown="ngbDropdown" >
         
            <mat-icon title="More" matBadgeColor="warn" id="dropdownBasic1" class="more-icon" ngbDropdownToggle >more_vert</mat-icon>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="more-dropdown">
              <ng-container *ngIf="element.id==userId && role!=='SuperAdmin';else allOptions">
            
            <div class="app-list" ngbDropdownToggle (click)="openResetPassword(element)">
              <mat-icon class="more-inner-icon">autorenew</mat-icon> Reset Password
             </div>
          </ng-container>
          <ng-template #allOptions>
            <div class="app-list"ngbDropdownToggle (click)="openPauseUser(element)"  *ngIf="role==='Admin' || role==='SuperAdmin'" >
              <mat-icon class="more-inner-icon" >pause_circle_filled</mat-icon> Resume/Pause User
             </div>
             <div class="app-list" *ngIf="role==='Admin'  || role==='SuperAdmin'" ngbDropdownToggle (click)="openReplaceUser(element)">
              <mat-icon class="more-inner-icon">swap_vertical_circle</mat-icon> Replace User
             </div>
             <div class="app-list" ngbDropdownToggle (click)="openResetPassword(element)" *ngIf="role==='SuperAdmin'">
              <mat-icon class="more-inner-icon">autorenew</mat-icon> Reset Password
             </div>
             <div class="app-list"ngbDropdownToggle (click)="openDisableChat(element)"  *ngIf="role==='Admin'  || role==='SuperAdmin'" >
              <mat-icon class="more-inner-icon">speaker_notes_off</mat-icon> Chat Disable/Enable
             </div>
             <div class="app-list" ngbDropdownToggle (click)="openDelete(element.id,element.first_name)"  *ngIf="role==='Admin'  || role==='SuperAdmin'" >
              <mat-icon class="more-inner-icon" data-bs-toggle="modal">delete</mat-icon> Delete
             </div>
             <div class="app-list" ngbDropdownToggle  [routerLink]="'/advancesettings/userProfileList/user-permissions/permissions-layout/'+element?.user_management[0]?.user"  *ngIf="role==='Admin'  || role==='SuperAdmin'" >
              <mat-icon class="more-inner-icon">lock_open</mat-icon>Permissions
              <!-- <app-advance-settings-control []></app-advance-settings-control> -->
              <!-- (click)="somthing(element.user_management[0].user)" -->
              <!-- routerLink="'/advancesettings/userProfileList/user-permissions/permissions-layout/'+element.id"  -->
             </div>
          </ng-template >
            </div>
         
          </div>
        </td>
      </ng-container>
    
      <!-- Set the column headers -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    
      <!-- Define the table rows -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
    </table>
    
  </div>
     
    <!-- Add pagination -->
    <mat-paginator *ngIf="!loading" [length]="totalPageLength"  (page)="pageChanged($event)"  [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
   