
<div class="head-container">
    <h1><span class="h1-set-header" routerLink="/advancesettings">Advance Settings  <i class="bi bi-chevron-right"></i> </span>
      <span>User Profiles</span></h1>
  </div>
   
   <div class="row m-4">
    <div class="col-sm-12 col-md-6 col-lg-8 text-end">
      <i class="bi bi-funnel-fill" (click)="openFilter()"></i>
      <i (click)="openAddUser()" class="bi bi-person-plus-fill" ></i>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="input-group z-s">
        <input type="text" class="form-control" placeholder="Search by Name/Mobile/Email">
        <button class="btn btn-outline-secondary" type="button">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>
   </div>
   
  <div class="genericTable">
    <table mat-table [dataSource]="dataSource"  matSort>
      <!-- Define User Name column -->
      <ng-container matColumnDef="User Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>User Name</th>
        <td mat-cell *matCellDef="let element">{{ element['User Name'] }}</td>
      </ng-container>
    
      <!-- Define Email column -->
      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.Email }}</td>
      </ng-container>
    
      <!-- Define Mobile column -->
      <ng-container matColumnDef="Mobile">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</th>
        <td mat-cell *matCellDef="let element">{{ element.Mobile }}</td>
      </ng-container>
    
      <!-- Define User Role column -->
      <ng-container matColumnDef="User Role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>User Role</th>
        <td mat-cell *matCellDef="let element">{{ element['User Role'] }}</td>
      </ng-container>
    
      <!-- Define Designation column -->
      <ng-container matColumnDef="Designation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Designation</th>
        <td mat-cell *matCellDef="let element">{{ element.Designation }}</td>
      </ng-container>
    
      <!-- Define Reporting To column -->
      <ng-container matColumnDef="Reporting To">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Reporting To</th>
        <td mat-cell *matCellDef="let element">{{ element['Reporting To'] }}</td>
      </ng-container>
    
      <!-- Define User Status column -->
      <ng-container matColumnDef="User Status">
        <th mat-header-cell *matHeaderCellDef>User Status</th>
        <!-- <td mat-cell *matCellDef="let element">{{ element['User Status'] }}</td> -->
        <td mat-cell *matCellDef="let element"><mat-slide-toggle class="z-s"></mat-slide-toggle></td>
      </ng-container>
    
      <!-- Define Action column -->
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
        <div ngbDropdown #myDropdown="ngbDropdown">
          <mat-icon title="More" matBadgeColor="warn" id="dropdownBasic1" class="more-icon" ngbDropdownToggle >more_vert</mat-icon>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="more-dropdown">
             <div class="app-list"ngbDropdownToggle>
              <mat-icon class="more-inner-icon">pause_circle_filled</mat-icon> Pause User
             </div>
             <div class="app-list" ngbDropdownToggle (click)="openReplaceUser(element)">
              <mat-icon class="more-inner-icon">swap_vertical_circle</mat-icon> Replace User
             </div>
             <div class="app-list"ngbDropdownToggle (click)="openResetPassword(element)">
              <mat-icon class="more-inner-icon">autorenew</mat-icon> Reset Password
             </div>
             <div class="app-list"ngbDropdownToggle (click)="openDisableChat(element['User Name'])">
              <mat-icon class="more-inner-icon">speaker_notes_off</mat-icon> Chat disable
             </div>
            </div>
          </div>
        </td>
      </ng-container>
    
      <!-- Set the column headers -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    
      <!-- Define the table rows -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
  </div>
     
    <!-- Add pagination -->
    <mat-paginator  [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
   