table {
    width: 100%;
  }
  h1{
    font-weight: 600;
    line-height: 23px;
    font-size: 20px;
    color:#393939 !important;
}
.head-container{
  padding: 15px 15px 11px;
  border-bottom: 1px solid rgb(216, 216, 216);
  background-color: transparent !important;
}
.bi-funnel-fill,.bi-funnel,.bi-person-plus-fill{
  margin: 0 10px;
  font-size: 20px;
  text-align: right !important;
  color: #f17e33;
}
.more-icon{
  line-height: 33px !important;
  cursor: pointer;
}
.more-dropdown{
  width: 205px;
  padding: 20px; 
  /* background-image: url('../../../../../../assets/images/edit-profile.jpg'); */
}
.more-inner-icon{
  vertical-align: middle !important;
  font-size: 20px;
  cursor: pointer;
}
.app-list{
  padding: 3px;
  cursor: pointer;
}
.user-name:hover{
  cursor:pointer;
  font-weight: bold;
}

.green{
  color: green;
}
.red{
  color: red;
}

::ng-deep .mat-table thead {
position: sticky !important;
top: 0 !important;
z-index: 99999 !important;
}