<form [formGroup]="editForm">
    <div class="mat-dialog-header">
        <div class="row">
            <div class="col"><h1 mat-dialog-title>Edit Leadlist Permissions</h1></div>
            <div class="col-1 close-icon">
                <mat-icon mat-dialog-close>close</mat-icon>
            </div>
        </div>
      </div>
      <div class="container">
        <mat-dialog-content class="mat-typography">
          <div class="row">
            <div class="col-12 col-md-12">
             
                <mat-checkbox formControlName="edit_lead" aria-checked="edit_lead">Edit Lead</mat-checkbox>
                
              <mat-error *ngIf="f['edit_lead'].invalid && f['edit_lead'].touched">
                <div *ngIf="f['edit_lead'].errors && f['edit_lead'].errors['required']">
                     Edit Lead Is Required
                </div>
            </mat-error>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12">
              
                <mat-checkbox formControlName="view_history" aria-checked="view_history">View History </mat-checkbox>
                
             
              <mat-error *ngIf="f['view_history'].invalid && f['view_history'].touched">
                <div *ngIf="f['view_history'].errors && f['view_history'].errors['required']">
                    View History Is Required
                </div>
            </mat-error>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12">
                <mat-checkbox formControlName="add_followup" aria-checked="add_followup">Add Follow Up</mat-checkbox>
              <mat-error *ngIf="f['add_followup'].invalid && f['add_followup'].touched">
                <div *ngIf="f['add_followup'].errors && f['add_followup'].errors['required']">
                    Add Follow Up  Is Required
                </div>
            </mat-error>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12">
                <mat-checkbox formControlName="add_note" aria-checked="add_note">Add Note</mat-checkbox>
              <mat-error *ngIf="f['add_note'].invalid && f['add_note'].touched">
                <div *ngIf="f['add_note'].errors && f['add_note'].errors['required']">
                     Add Note Is Required
                </div>
            </mat-error>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12">
                <mat-checkbox formControlName="delete_lead" aria-checked="delete_lead">Delete Lead</mat-checkbox>
              <mat-error *ngIf="f['delete_lead'].invalid && f['delete_lead'].touched">
                <div *ngIf="f['delete_lead'].errors && f['delete_lead'].errors['required']">
                     Delete lead Is Required
                </div>
            </mat-error>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12">
                <mat-checkbox formControlName="payment_details" aria-checked="payment_details">Payment Details</mat-checkbox>
              <mat-error *ngIf="f['payment_details'].invalid && f['payment_details'].touched">
                <div *ngIf="f['payment_details'].errors && f['payment_details'].errors['required']">
                     Payment Details Is Required
                </div>
            </mat-error>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12">
                <mat-checkbox formControlName="download_leads" aria-checked="download_leads">Download Leads</mat-checkbox>
              <mat-error *ngIf="f['download_leads'].invalid && f['download_leads'].touched">
                <div *ngIf="f['download_leads'].errors && f['download_leads'].errors['required']">
                     Download Leads Is Required
                </div>
            </mat-error>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12">
                <mat-checkbox formControlName="email" aria-checked="email">Email</mat-checkbox>
              <mat-error *ngIf="f['email'].invalid && f['email'].touched">
                <div *ngIf="f['email'].errors && f['email'].errors['required']">
                    Email Is Required
                </div>
            </mat-error>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12">
                <mat-checkbox formControlName="whatsapp" aria-checked="whatsapp">Whatsapp</mat-checkbox>
              <mat-error *ngIf="f['whatsapp'].invalid && f['whatsapp'].touched">
                <div *ngIf="f['whatsapp'].errors && f['whatsapp'].errors['required']">
                    Whatsapp  Is Required
                </div>
            </mat-error>
            </div>
        </div>


        <div class="row">
            <div class="col-12 col-md-12">
                <mat-checkbox formControlName="sms" aria-checked="sms">SMS</mat-checkbox>
              <mat-error *ngIf="f['sms'].invalid && f['sms'].touched">
                <div *ngIf="f['sms'].errors && f['sms'].errors['required']">
                   SMS Is Required
                </div>
            </mat-error>
            </div>
        </div>
       
       
        

        
        </mat-dialog-content>
      </div>
    <mat-dialog-actions align="end">
      <button class="mat-cancel" mat-button mat-dialog-close>CANCEL</button>
      <button class="mat-disable" mat-button (click)="edit()" cdkFocusInitial>UPDATE</button>
    </mat-dialog-actions>
    
    
</form>