
    <div ngbDropdown #myDropdown="ngbDropdown">
      <mat-card class="filterBy-category">
        <i class="bi bi-funnel-fill" id="dropdownBasic1"></i>
        <span class="filter-text" ngbDropdownToggle>Create Filter </span>
        <ng-container *ngIf="!showHintFilter">
          <span class="" *ngIf="appliedFilter.length > 0">
            <span class="snippets">{{appliedFilter[0]['name']}}</span>
            <span>{{appliedFilter[0]['count']}}</span>
            <mat-icon class="clear-icon" (click)="removeAllList()">close</mat-icon>
        </span>
          <ng-container *ngIf="appliedFilter.length > 1">
           
              <span> + {{appliedFilter.length -1}}</span>
         
          </ng-container>
          
        </ng-container>
        
        <mat-icon class="arrow-down">keyboard_arrow_down</mat-icon>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="more-dropdown">
          <div>
            <div class="row br-b">
              <div class="col">
                <i class="bi bi-funnel-fill" id="dropdownBasic1"></i>
                <span class="filter-text">Create Filter </span>
              </div>
              <div class="col-1 close-icon p-0">
                <mat-icon mat-dialog-close ngbDropdownToggle style="font-size:17px;" (click)="closePopup()">close</mat-icon>
              </div>
            </div>
            <div class="row br-b">
              <div class="col c-h">
                <div *ngIf="showHintFilter" class="text-muted">No Filter Is Selected.</div>
                <ng-container *ngIf="!showHintFilter" >
                  <span class="" *ngFor="let items of filterdSnippetList">
                      <span class="snippets">{{items.name}}</span>
                      <span>{{items.count}}</span>
                      <mat-icon class="clear-icon" (click)="removeList(items)">close</mat-icon>
                  </span>
                </ng-container>
              </div>
            </div>

            <!-- Body-Section -->
            <div class="row body-section mx-3 py-2" >
              <div class="col" >
                  <div class="row" *ngFor="let task of category">
                      <span class="example-list-section p-1" [class.selected-category]="selectedCategory === task">
                          <!-- <mat-checkbox class="example-margin"
                              [checked]="allComplete"          
                              [disabled]="true">
                          </mat-checkbox> -->
                          <span (click)="openCategoryPanel(task)"> {{ task.name }}</span>
                        </span>
                  </div>
               
              </div>

              <div class="col" [ngClass]="showHint ? 'd-flex align-items-center justify-content-center':''">
                <div *ngIf="showHint" class="text-muted">Please Select Filters And Click Apply.</div>
                <section class="example-section" *ngFor="let task of selectedArr">
                  <span class="example-list-section list-head">
                    <!-- <mat-checkbox class="example-margin"
                                  [checked]="allComplete"
                                  [color]="task.color"
                                  [indeterminate]="someComplete(task)"
                                  (change)="setAll($event.checked)"
                                 (click)="selectAllSnippets(task)"
                                 >
                      {{ task.name }}
                    </mat-checkbox> -->
                    {{ task.name }}
                  </span>
                  <span class="example-list-section">
                    <ul>
                      <li *ngFor="let subtask of task.subtasks">
                        <mat-checkbox 
                        [(ngModel)]="subtask.completed"
                          (click)="selectedSnippets(task, subtask.completed)">
                          {{ subtask.name }}
                        </mat-checkbox>
                      </li>
                    </ul>
                  </span>
                </section>
              </div>
            </div>

            <!-- Footer-Section -->
            <div class="row footer-section m-0">
              <div class="col-12 footer-col">
                <button mat-button class="m-2 mat-cancel">RESET</button>
                <button mat-button class="m-2 mat-disable" ngbDropdownToggle (click)="apply()">APPLY</button>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
 
