<div class="container-fluid d-flex align-items-center">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-sm-0 col-md-6 col-lg-6 carousal-col">
            <ngb-carousel
            #carousel
            [interval]="3000"
            [showNavigationArrows]="false"
            (slide)="onSlide($event)"
            class="img-carousel"
         >
            <ng-template ngbSlide *ngFor="let img of myImages; index as i" >
                <div class="carousel-caption">
                </div>
                <a  target="_blank" rel="nofollow noopener noreferrer">
                    <div class="picsum-img-wrapper">
                        <img [src]="img" alt="" />
                    </div>
                </a>
            </ng-template>
        </ngb-carousel>
        
        <hr />
        </div>
        <div class="col-sm-12 col-md-6 col-6">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                            <mat-card class="formContainer">
                             <div class="d-flex align-items-center">
                                <img src="../../../assets/images/logo.png" width="200"  class="logo-tag"/>
                             </div>
                             <div class="inner-container ">
                                <div class="row ">
                                    <div class="col-12 text-center my-2">
                                        <h4 class="">PASSWORD RECOVERY</h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 text-center my-2" style="font-size: 12px;">
                                        <div>Please enter your registered email to receive a reset password link.</div>
                                    </div>
                                </div>
                               <form [formGroup]="loginForm">
                                <div class="row">
                                    <div class="col-12 mb-5">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Email Id</mat-label>
                                            <input matInput placeholder="Enter Your Email Id" formControlName="email" required>
                                            <mat-error *ngIf="f['email'].invalid && f['email'].touched">
                                                <div *ngIf="f['email'].errors && f['email'].errors['required']">
                                                    Email Id Is Required
                                                </div>
                                                <div *ngIf="f['email'].errors && f['email'].errors['email']">
                                                    Invalid Email Id
                                                </div>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    
                                    
                                </div>
                                

                                <div class="col-12 my-4">
                                    <button mat-button class="appCoColor" >SUBMIT</button>
                                </div>
                                  <div class="row">
                                    <div class="col-12">
                                        <div>
                                            Already have an account?<b class="primaryColor pointer-set" routerLink="/login" >Log In</b>
                                        </div>
                                    </div>
                                  </div>
                               </form>    
                             </div>
                        </mat-card>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
  
</div>

