<mat-card>
    <div class="mat-dialog-header">
        <div class="row">
            <div class="col"><h1 mat-dialog-title>Reset Password [{{userData.userdata.first_name}}]</h1></div>
            <div class="col-1 close-icon">
                <mat-icon mat-dialog-close>close</mat-icon>
            </div>
        </div>
    </div>
    <mat-dialog-content>
        <mat-tab-group>
            <mat-tab label="Send Reset Link">
                <div class="rs-container">
                    <div class="col-md-12">
                        Email Id : {{userData.userdata.email}}
                    </div>
                    <div class="col-md-12">
                        Mobile No : {{userData.userdata.mobile_number}}
                    </div>
                </div>
                <div class="rs-container">
                    <div class="col-md-12">
                        Please select the communication channel to send new password <b class="mandatory-symbol">*</b>
                    </div>
                    <form [formGroup]="resetLinkForm">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-6 my-2">
                                <mat-checkbox  [(ngModel)]="isChecked" formControlName="email" >Email</mat-checkbox>
                                  <div class="error-msg" *ngIf="rsForm['email'].errors && rsForm['email'].errors['required']">Please select a communication channel</div>
                            </div>
                            
                            <div class="col-sm-12 col-md-12 col-lg-6 my-2">
                                <mat-checkbox formControlName="sms" [disabled]="true" class="disableSms">SMS</mat-checkbox>
                            </div>
                        </div>
                        
                       
                    </form>
                </div>
                <div mat-dialog-actions>
                    <button mat-button mat-dialog-close class="mat-cancel">CANCEL</button>
                    <button mat-button type="button" (click)="resetLink()" class="mat-disable" cdkFocusInitial >RESET</button>
                </div>
            </mat-tab>
            <!-- <mat-tab label="Set New Password" >
                 <form [formGroup]="newPassword">
                    <div class="newpassword-container">
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field  class="custom-mat-form-field" appearance="outline">
                                <mat-label>New Password</mat-label>
                                <input [type]="newPasswordEye ? 'password' : 'text'" formControlName="newPassword" matInput placeholder="Enter New Password">
                                <button mat-icon-button matSuffix (click)="newPasswordEye = !newPasswordEye" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="newPasswordEye">
                                    <mat-icon>{{newPasswordEye ? 'visibility_off' : 'visibility'}}</mat-icon>
                                  </button>
                              </mat-form-field>
                            </div>
                            <div class="col-md-12">
                                <mat-form-field class="custom-mat-form-field" appearance="outline">
                                    <mat-label>Confirm Password</mat-label>
                                    <input [type]="confirmPasswordEye ? 'password' : 'text'" formControlName="confirmPassword" matInput placeholder="Enter Confirm Password">
                                    <button mat-icon-button matSuffix (click)="confirmPasswordEye = !confirmPasswordEye" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="confirmPasswordEye">
                                        <mat-icon>{{confirmPasswordEye ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                Please select the communication channel to send new password <b class="mandatory-symbol">*</b>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-4 my-1">
                                <mat-checkbox formControlName="newPasswordEmail">Email</mat-checkbox>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-4 my-1">
                                <mat-checkbox formControlName="newPasswordSms" [disabled]="true" class="disableSms">SMS</mat-checkbox>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 my-2">
                                <mat-checkbox formControlName="mandatoryPassword">Make it mandatory for password change at the next login</mat-checkbox> 
                            </div>
                        </div>
                    </div>
                    
                </form>
                <div mat-dialog-actions >
                    <button mat-button mat-dialog-close class="mat-cancel mb-3">CANCEL</button>
                    <button mat-button  class="mat-disable mb-3" cdkFocusInitial>RESET</button>
                </div>
            </mat-tab> -->
        </mat-tab-group>
    </mat-dialog-content>
</mat-card>


