
<div class="row">
	<div class="col">
		<div ngbDropdown class="d-inline-block">
			<i class="bi bi-arrow-down-up" title="Sort" ngbDropdownToggle (click)="openNotification()"></i>
			
				<div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="more-dropdown sort-lead-dropdown">
					<!-- <mat-card>
						
						<div class="app-list"ngbDropdownToggle>
							<i class="bi bi-calendar-week-fill more-inner-icon"></i>Creation Date
						</div>
						<div class="app-list"ngbDropdownToggle>
							<i class="bi bi-calendar-week-fill more-inner-icon"></i> Modification Date
						</div>
						<div class="app-list"ngbDropdownToggle>
							<i class="bi bi-calendar-week-fill more-inner-icon"></i> Next Action Date
						</div>
						<div class="app-list"ngbDropdownToggle>
							<i class="bi bi-calendar-week-fill more-inner-icon"></i> Re-enquiry Date
						</div>
					</mat-card> -->
					<mat-selection-list #dateType [multiple]="false">
						
						<mat-list-option *ngFor="let dateType of typesOfDate" [value]="dateType">
							<i mat-list-icon class="bi bi-calendar-week-fill more-inner-icon" ></i>
							
							<div mat-line class="app-list">{{dateType}}</div>
						</mat-list-option>
					  </mat-selection-list>
					
				   </div>
				
			
		</div>
	</div>
</div>