      <div class="border-table">
            <div class="border-row">
                <div class="border-cell" ngbDropdownToggle (click)="editLead(leadName)"><i class="bi bi-pencil-square"></i>Edit Lead</div>
            </div>
            <div class="border-row">
                <div class="border-cell" ngbDropdownToggle (click)="openViewAll(leadName)"><i class="bi bi-clock"></i>View History</div>
            </div>
            <div class="border-row">
                <div class="border-cell" ngbDropdownToggle (click)="addFollowUp(item)"><i class="bi bi-flag-fill"></i>Add Followup</div>
            </div>
            <div class="border-row">
                <div class="border-cell" ngbDropdownToggle (click)="referLead()"><i class="bi bi-person-check-fill"></i>Assign Leads</div>
            </div>
            <div class="border-row">
                <div class="border-cell" ngbDropdownToggle (click)="addNote()"><i class="bi bi-flag-fill"></i>Add Note</div>
            </div>
            <div class="border-row">
                <div class="border-cell" ngbDropdownToggle (click)="delete(leadName)"><i class="bi bi-trash-fill"></i>Delete</div>
            </div>
            <div class="border-row">
                <div class="border-cell" ngbDropdownToggle (click)="docsStatus()"><i class="bi bi-file-earmark-text"></i>Docs Process</div>
            </div>
            <div class="border-row">
                <div class="border-cell" ngbDropdownToggle (click)="admissionDetails()"><i class="bi bi-card-list"></i>Admission Details</div>
            </div>
            <div class="border-row">
                <div class="border-cell" ngbDropdownToggle (click)="openPaymentStatus()"><i class="bi bi-card-list"></i>Payment Details</div>
            </div>
            <div class="border-row">
                <div class="border-cell" ngbDropdownToggle (click)="openPayment()"><i class="bi bi-link-45deg"></i>Send Payment Link</div>
            </div>
            <!-- <div class="border-row">
                <div class="border-cell" ngbDropdownToggle (click)="openPaymentProof()"><i class="bi bi-window-fullscreen"></i>Payment Proof</div>
            </div> -->
            
           
            <!-- <div class="border-row">
                <div class="border-cell"><i class="bi bi-clock"></i>View History</div>
                <div class="border-cell">
                   
                    <span class="erp-box position-rel">ERP 
                        <div class="position-absol">
                            <i class="bi bi-arrow-up"></i>
                        </div>
                       
                    </span>
                    Push To ERP
                </div>
                <div class="border-cell"><i class="bi bi-flag-fill"></i>Add Note</div>
            </div>
            <div class="border-row">
                <div class="border-cell"><i class="bi bi-clock-history"></i>View Status Journey</div>
                <div class="border-cell"><i class="bi bi-trash-fill"></i>Delete</div>
                <div class="border-cell"><i class="bi bi-flag-fill"></i>Payment Details</div>
            </div>
            <div class="border-row">
                <div class="border-cell"><i class="bi bi-person-fill-up"></i>Push Lead To New Domain</div>
                <div class="border-cell"><i class="bi bi-flag-fill"></i>Issue GDPI Call Letter</div>
                <div class="border-cell"><i class="bi bi-link-45deg"></i>Send Payment Link</div>
            </div>
            <div class="border-row">
                <div class="border-cell"><i class="bi bi-person-check-fill"></i>Refer Leads</div>
                <div class="border-cell"><i class="bi bi-flag-fill"></i>Add Marks</div>
                <div class="border-cell"><i class="bi bi-clipboard2-minus-fill"></i>Convert To Application</div>
            </div> -->
        </div>
        