

<ng-container>
    <mat-card class="p-0 m-0">
      <div class="add-users mat-dialog-header">
        <div class="row">
            <div class="col"><h1 mat-dialog-title>Filter</h1></div>
            <div class="col-1 close-icon">
              <mat-icon (click)="closePopup()">close</mat-icon>
          </div>
        </div>
      </div>
        <mat-dialog-content class="mat-typography mx-2">
         <div class="container">
          <form [formGroup]="filterLead">
            <div class="row"  *ngIf="role==='Admin' || role==='SuperAdmin'" >
                <div class="col-12" >
                    <mat-form-field class="mb-1" appearance="outline">
                        <mat-label>Select Counselors</mat-label>
                        <mat-select placeholder="Select Counselors" formControlName="counsellor_id" >
                          <mat-option *ngFor="let couselor of counselorList" [value]="couselor.id" >{{couselor?.first_name | titlecase}} {{couselor?.last_name }}</mat-option>
                        </mat-select>
                        <button
                          mat-button
                          matSuffix
                          mat-icon-button
                          aria-label="Clear"
                          (click)="clearSelectField('counsellor_id')"
                          *ngIf="f['counsellor_id']?.value"
                         >
                          <mat-icon>clear</mat-icon>
                        </button>
                        <!-- <mat-error *ngIf="f['counsellor_id'].hasError('required')">
                          Counsellor Name Is Required.
                         </mat-error> -->
                      
                    </mat-form-field>
                </div>
            </div>
          
            <div class="row">
              <div class="col-12">
                  <mat-form-field class="mb-1" appearance="outline">
                      <mat-label>Select Counselled By</mat-label>
                      <mat-select placeholder="Select Counselors" formControlName="counselled_by" >
                        <mat-option *ngFor="let counselled of counselled_by" [value]="counselled.id" >{{counselled.first_name}}</mat-option>
                      </mat-select>
                      <button
                        mat-button
                        matSuffix
                        mat-icon-button
                        aria-label="Clear"
                        (click)="clearSelectField('counselled_by')"
                        *ngIf="f['counselled_by']?.value"
                      >
                        <mat-icon>clear</mat-icon>
                      </button>
                  
                  </mat-form-field>
              </div>
          </div>
        
          <div class="row">
            <div class="col-12">
                <mat-form-field class="mb-1" appearance="outline">
                    <mat-label>Select Course</mat-label>
                    <mat-select placeholder="Select Cource" formControlName="course_id" >
                      <mat-option *ngFor="let course of courseList" [value]="course.id">{{course.course_name}}</mat-option>
                    </mat-select>
                    <button
                      mat-button
                      matSuffix
                      mat-icon-button
                      aria-label="Clear"
                      (click)="clearSelectField('course_id')"
                      *ngIf="f['course_id']?.value"
                    >
                      <mat-icon>clear</mat-icon>
                    </button>
                    
                </mat-form-field>
            </div>
        </div>
            <div class="row">
                <div class="col-12">
                    <mat-form-field class="mb-1" appearance="outline">
                        <mat-label>Select Source</mat-label>
                        <mat-select placeholder="Select Source" formControlName="source_id" >
                          <mat-option *ngFor="let sources of sourceList" [value]="sources.id">{{sources.source_name}}</mat-option>
                        </mat-select>
                        <button
                          mat-button
                          matSuffix
                          mat-icon-button
                          aria-label="Clear"
                          (click)="clearSelectField('source_id')"
                          *ngIf="f['source_id']?.value"
                        >
                          <mat-icon>clear</mat-icon>
                        </button>
                        
                    </mat-form-field>
                </div>
            </div>
        
            <div class="row">
                <div class="col-12">
                    <mat-form-field class="mb-1" appearance="outline">
                        <mat-label>Select Stream</mat-label>
                        <mat-select placeholder="Select Course" formControlName="stream_id">
                          <mat-option *ngFor="let courses of streamList" [value]="courses.id">{{courses.stream_name}}</mat-option>
                        </mat-select>
                        <button
                          mat-button
                          matSuffix
                          mat-icon-button
                          aria-label="Clear"
                          (click)="clearSelectField('stream_id')"
                          *ngIf="f['stream_id']?.value"
                        >
                          <mat-icon>clear</mat-icon>
                        </button>
                        
                    </mat-form-field>
                </div>
            </div>
             <div class="row">
                <div class="col-12">
                    <mat-form-field class="mb-1" appearance="outline">
                        <mat-label>Select City</mat-label>
                        <mat-select placeholder="Select City" formControlName="city_id">
                          <mat-option *ngFor="let citys of cityList" [value]="citys.id">{{citys.name}}</mat-option>
                        </mat-select>
                        <button
                          mat-button
                          matSuffix
                          mat-icon-button
                          aria-label="Clear"
                          (click)="clearSelectField('city_id')"
                          *ngIf="f['city_id']?.value"
                        >
                          <mat-icon>clear</mat-icon>
                        </button>
                        
                    </mat-form-field>
                </div>
            </div>
           
          </form>
        </div>
      
        </mat-dialog-content>
     
      <mat-dialog-actions class="d-flex">
        <button class="mat-cancel m-1" mat-button (click)="reset()">RESET</button>
        <button class="mat-disable m-1" mat-button (click)="onSubmit()" cdkFocusInitial>APPLY FILTER</button>
      </mat-dialog-actions>
    </mat-card>
     
  </ng-container>
  
  
