/*-----------------*************************-------------------------*/
  /*-----------------*************************-------------------------*/
  /*-----------------********DATE PICKER*******-------------------------*/
  .md-drppicker.drops-down-auto.ltr.shown.double.show-ranges {
    /* transform: scale(1);
    width: 50%; */
    position: absolute;
    right: 0px !important;
    zoom: 90%;
   }
   .md-drppicker .ranges ul li button.active {
     background-color:var(--appLightColor) !important;
     color: black !important;
   }
 .md-drppicker td.in-range {
   background-color:var(--appLightColor) !important;
 }
 .md-drppicker td.active, .md-drppicker td.active:hover {
   background-color: var(--appColor) !important;
 
 }
 .md-drppicker .clear svg {
  display: none;
 }
 
 .md-drppicker .clear {
   color: var(--appColor) !important;
   border: 1px solid #c3c3c2 !important;
   margin-right: 5px;
   position: relative;
   font-size: 14px;
   overflow: hidden;
   border-width: 0;
   outline: none;
   padding: 0 6px;
   cursor: pointer;
   border-radius: 2px !important;
   box-shadow: 0 1px 4px #0009 !important;
   transition: background-color .4s;
   height: auto;
   text-transform: uppercase;
   line-height: 36px;
   border: none;
 }
 .md-drppicker .btn {
  font-size: 14px;
  background-color: var(--appColor) !important;
 }
 
 /* Style for the custom checkboxes */
 .custom-checkboxes {
   margin-top: 10px;
   padding: 10px;
   background-color: #fff;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
 }
 
 .custom-checkboxes label {
   display: block;
   margin-bottom: 5px;
   font-weight: bold;
 }
 
 .custom-checkboxes input[type="checkbox"] {
   margin-right: 5px;
 }
 
 /* Position the custom checkboxes within the date range picker */
 .original-date-range-picker-content {
   position: relative;
 }
 
 .ng-trigger-transformPanel,
 .ng-trigger-transformPlaceholder {
   opacity: 1;
   transform: none !important;
 }
 
 .checkbox-container{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
 }
 
  /* CSS to style the custom checkboxes */
  .additional-checkbox {
   /* Add a border to the checkbox */
   border: 1px solid #e9e9e9 !important;
   border-radius: 5px;
   padding: 5px 10px !important; /* Add some padding for spacing */
   /* Set the background color to white by default */
   margin: 5px 0;
   cursor: pointer;
 }
 .additional-checkbox label{
   display:inline;
   font-size: 12px;
   vertical-align: text-top;
   padding-left: 5px;
 }
 .checked-background{
   background-color: var(--appLightColor) !important ;
 }
 
 .css-checkbox { 
   position: absolute; 
   overflow: hidden; 
   clip: rect(0 0 0 0); 
   height: 1px; 
   width: 1px; 
   margin: -1px; 
   padding: 0; 
   border: 0; 
 }#inputPreview { 
   display: flex; 
   gap: 20px; 
   justify-content: center;	
 }.css-checkbox + label { 
   position: relative; 
   font-size: 13px; 
   cursor: pointer; 
   display: inline-flex; 
   align-items: center; 
   height: 27px; 
   color: rgb(0, 0, 0); 
 }.css-checkbox + label::before { 
     content: " "; 
     display: inline-block; 
     vertical-align: middle; 
     margin-right: 3px; 
     width: 17px; 
     height: 17px; 
     background-color:white; 
     border-width: 1px; 
     border-style: solid; 
     border-color: lightgray; 
     border-radius: 2px; box-shadow: none; 
   }.css-checkbox:checked + label::after { 
     content: " "; 
     background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+");
     background-repeat: no-repeat; 
     background-size: 13px 13px; 
     background-position: center center; 
     position: absolute; 
     display: flex; 
     justify-content: center; 
     align-items: center; 
     margin-left: 0px; 
     left: 4px;
     top: 5px;
     text-align: center; 
     background-color:var(--appColor) !important; 
     font-size: 10px; 
     height: 18px; 
     width: 18px; 
   }
   .date-filter .buttons{
    display: block;
    float : right;
   }
   @media (min-width:320px){
    /* .md-drppicker .ranges {
        width: 20% !important;
    } */
    
   }
   .md-drppicker .ranges ul li button {
    font-size: 15px;
    font-weight: bold;
    color: gray;
}
        
   /*-----------------END----------------------------*/