:root {
    --appColor:#f17e33;
    --lightHeader:#7D7D7D;
    --allFontColor:#393939;
    --appLightColor:#FFF2EB;
    --appWhite:#FFF;
}
.pencil-edit{
  color:var(--appColor)
}
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: var(--appColor) !important;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: var(--appColor) !important;
}
.mat-drawer-container {
  background-color:transparent !important;
}
app-sidenav-list i{
    color:var(--appColor) !important;
}
.bi-funnel-fill,.bi-person-plus-fill,.mat-cancel{
   color:var(--appColor) !important;
}
.mat-cancel{
    color:var(--appColor) !important;
    border:1px solid var(--appColor) !important;
}
.mat-disable{
    background: var(--appColor) !important;
    color:var(--appWhite) !important;
}
.h1-set-header{
 color:var(--lightHeader)
}
.h1-set-header:hover{
    color: var(--allFontColor);
}
.h-90{
height: 90%;
}
.more-inner-icon,.more-icon{
    color:var(--appColor);
}
.dropdown-menu.show {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    border: none;
}
.dropdown-menu {
    --bs-dropdown-font-size: 15px;
}
.app-list:hover{
    background:var(--appLightColor) ;
}
.app-list:active{
    background:var(--appLightColor) ;
}
.dropdown-toggle::after {
    border-top: 0; 
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
  }
  .mat-dialog-actions {
    justify-content: end !important;
  }
  .mandatory-symbol{
    color:red;
  }
  mat-tab{
   overflow-y: hidden !important;
  }


  html, body {
    height: 100%;
    color:#393939;
   }
   body {
     margin: 0;
     font-family: "Open Sans", sans-serif;
   }
   .z-s{
     zoom: 85%;
   }
   .mat-list-base,.mat-list-item:focus {
     -webkit-tap-highlight-color:white !important;
   }
   .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
     -webkit-tap-highlight-color:white !important;
   }
  
   .mat-drawer:not(.mat-drawer-side) {
     box-shadow: 0px 30px 0 0 rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 9px 1px rgba(0, 0, 0, 0.12);
   }
   .mat-tab-body-content {
     overflow-x: hidden !important;
     overflow-y: hidden !important;
   }
  
   .error-msg{
     color:red;
   }
   .position-rel{
    position: relative;
   }

   h1.app-name {
    color: var(--appColor);
    font-size: 13px;
    text-align: center;
  }
  .mat-paginator-container {
    justify-content: center !important;
  }