  mat-form-field{
    width: 100%;
  }

   .mat-form-field-appearance-legacy .mat-form-field-prefix .mat-datepicker-toggle-default-icon, .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
    width: 1.5em !important;
   }
   .border-bottom{
    border-bottom:1px solid #eae9e9;
   }

   
  input#mat-input-1 {
    margin-top: 2px;
   }
   input#mat-input-1:hover {
    outline: none;
   }
   
  .custom-mat-form-field .mat-form-field-infix {
    padding: 9px 8px 13px;  /* Adjust the padding value as per your requirement */
    font-size: 12px;
    line-height: 0 !important;
  }
  
  .custom-mat-form-field .mat-form-field-label {
    font-size: 12px; /* Adjust the font size value as per your requirement */
    margin-bottom: 0px; /* Adjust the margin bottom value as per your requirement */
  }
  
  .mat-form-field-wrapper {
    padding-bottom: 15px;
  }
  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 15px 0 0 !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #eae9e9;
}
.mat-form-field-infix {
  border-top: 0.5em solid transparent !important;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 10px;
}
.mat-select-trigger {
  line-height: 13px;
}
.mat-select-arrow-wrapper {
  height: 0 !important;
}