@media(max-width:767px){
      .mobileView{
        display:block !important;
      }
      .webView{
        display: none !important;
      }
    .mat-paginator-container {
      display: flex;
      align-items: center;
      justify-content: center !important;
      padding: 0 8px;
      flex-wrap: wrap-reverse;
      width: 100%;
  }
  }
  @media(min-width:767px) and (max-width:1023px){
    .mobileView{
      display:block !important;
    }
    .webView{
      display: none !important;
    }
   .mat-paginator-container {
    display: flex;
    align-items: center;
    justify-content: center !important;
    padding: 0 8px;
    flex-wrap: wrap-reverse;
    width: 100%;
  }
  }
  
  
  @media(min-width:1024px){
    .mobileView{
      display:none !important;
    }
    .webView{
      display: block !important;
    }
    .mat-drawer-backdrop.mat-drawer-shown {
      visibility: hidden !important;
    }
   
    .webMenu{
      width:16% !important
    }
   .iconMenu {
      width: 3% !important;
  }
  .mat-drawer-inner-container {
    overflow-x: hidden !important;
  }
  
  h1 .bi-fire{
    color:white !important;
   }
   
  }