




<div class="container-fluid">
    <app-advance-settings-control></app-advance-settings-control>
    <!-- <mat-tab-group class="lead-card-tabs" >
        <mat-card class="p-0 m-0">
        <mat-tab label="Advance Settings" >
            <app-advance-settings-control></app-advance-settings-control>
        </mat-tab>
        <mat-tab label="Lead List">
            <app-lead-list-control></app-lead-list-control>
        </mat-tab>
       
      </mat-card>
      </mat-tab-group> -->
    
    </div>