
<div class="row my-3">
     <div class="col-sm-12 col-md-6 col-lg-3 col-p mb-2" >
    <app-create-filter></app-create-filter>
  </div>
    <!-- <div class="col-sm-0 col-md-0 col-lg-1"></div> -->

    <div class="col-sm-12 col-md-6 col-lg-2 mb-2" style="margin: 0 -24px;">
      <mat-card class="filter-type-card alightColor">
        
        <div ngbDropdown >
           <div id="dropdownBasic1"  ngbDropdownToggle class="text-start" >
            {{seletedType}}
  
            <mat-icon class="arrow-down">keyboard_arrow_down</mat-icon>
          </div>
          
           <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
           <div class="notify-container">
               <ul>
                   <li *ngFor="let items of filterType" (click)="getType(items)" [ngClass]="seletedType === items ? 'alightColor':''">
                       <div class="notify-popup-title  px-4 py-1"> {{items}}</div>
                     
                   </li>      
               </ul>
           </div>
        </div>
        </div>




      </mat-card>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 mb-2" >   
     <app-select-counselar></app-select-counselar> 
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
    
       <app-date-filter></app-date-filter>
  
    </div>
    
  </div>
  