mat-card{
    box-shadow: none !important;
    padding-bottom: 0 !important;
}
i,mat-icon{
    color: var(--appColor);
    
}
.forward-icon{
    position: absolute;
    top: 10px;
    right: -8px;
    font-size: 8px;
}
.replay-icon{
    position: absolute;
    bottom: 9px;
    right: 8px;
    font-size: 12px;
    transform: rotate(100deg);
}
.bi-arrow-down-up{
    font-size: x-large;
    color: var(--appColor);
}
.p-1{
 text-align: center;
}
.btn-outline-primary:hover .bi-search{
 color:#FFF !important;
}
.bi-arrow-left-circle-fill{
    color:#FFF
}
.go-back{
 background-color: var(--appColor);
 color:white;
}