/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "./assets/table.css";
@import "./assets/scroll.css";
@import "./assets/mat-dialog.css";
@import "./assets/querylist.css";
@import "./assets/mat-form.css";
@import "./assets/datepicker.css";
@import "./assets/add-new-lead.css";
@import "./assets/lead-card.css";
@import "./assets/global.css";

input[type="search"]::-webkit-search-cancel-button:hover{
   cursor:pointer;
  }



  @font-face {
   font-family: 'Poppins';
   src: url('./assets/fonts/Poppins-Regular.ttf');
  }

  
:root{
   --primary-font:"Poppins"
}

div,span{
   font-family: 'Poppins' !important;
   
}


textarea{
   outline: none !important;
}

/* div{
   font-size: 12px;
} */



