@import "../node_modules/@angular/material/theming";
@include mat-core(); 
$my-primary : mat-palette($mat-amber,800);
$my-accent : mat-palette($mat-grey,A100);

$my-theme:mat-light-theme($my-primary,$my-accent);
@include angular-material-theme($my-theme)