<div class="head-container">
    <div class="row">
        <div class="col-8 align-self-center"><h1>Welcome Back, ABC</h1></div>
        <div class="col-4 d-flex text-end">
            <mat-form-field style="width: 450px;" appearance="outline">
                <mat-label>Counselor</mat-label>
                <mat-select >
                  <mat-option *ngFor="let item of allCounselor" [value]="item.id">{{item.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <i class="bi bi-arrow-clockwise icon"></i>
        </div>
    </div>  
</div>

<div class="row mt-4">
    <div class="col-12 col-md-6">
        <app-todays-new-task></app-todays-new-task>
    </div>
    <div class="col-12 col-md-6">
        <app-total-new-lead></app-total-new-lead>
    </div>
</div>
<div class="row mt-4">
    <div class="col-12 col-md-6">
        <app-todays-new-application></app-todays-new-application>
    </div>
    <div class="col-12 col-md-6">
        <app-total-new-application></app-total-new-application>
    </div>
</div>
<div class="row mt-4">
    <div class="col-12 col-md-6">
        <app-todays-ivr-missedcall-lead></app-todays-ivr-missedcall-lead>
    </div>
    <div class="col-12 col-md-6">
        <app-total-ivr-missedcall-lead></app-total-ivr-missedcall-lead>
    </div>
</div>
<div class="row mt-4">
    <div class="col-12 col-md-6">
        <app-todays-pending-followups></app-todays-pending-followups>
    </div>
    <div class="col-12 col-md-6">
        <app-total-pending-followups></app-total-pending-followups>
    </div>
</div>
<div class="row mt-4">
    <div class="col-12 col-md-6">
        <app-missed-activity></app-missed-activity>
    </div>
    <div class="col-12 col-md-6">
        <app-todays-missed-followup></app-todays-missed-followup>
    </div>
</div>

