<mat-card>
    <div class="mat-dialog-header">
        <div class="row">
            <div class="col"><h1 mat-dialog-title>Video Call</h1></div>
            <div class="col-1 close-icon">
                <mat-icon mat-dialog-close>close</mat-icon>
            </div>
        </div>
    </div>
    <mat-dialog-content>
        <div class="container">
            <mat-tab-group>
                <mat-tab label="SMS">
                 
                </mat-tab>
                <mat-tab label="EMAIL">
                   
                </mat-tab>
            </mat-tab-group>
        </div>
    </mat-dialog-content>
</mat-card>


