
<div class="row">
	<div class="col-1">
		<div ngbDropdown class="d-inline-block">
			<i class="bi bi-arrow-down-up" title="Sort" ngbDropdownToggle ></i>
			
				<div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="more-dropdown sort-lead-dropdown">
			
					<mat-list #dateType >
						
						<mat-list-item *ngFor="let dateType of typesOfDate"   (click)="onChange(dateType)" ngbDropdownToggle >
							<i mat-list-icon class="bi bi-calendar-week-fill more-inner-icon"  (click)="onChange(dateType)"></i>
							
							<div mat-line class="app-list">{{dateType}}</div>
						</mat-list-item>
					  </mat-list>
					
				   </div>
				
			
		</div>
	</div>
	
</div>